{
	$OUT =qq|
	<div align="center">{$json_text}</div>
	<div align="center">
		<a target="_blank" href="https://base1.hra.net/cgi-bin/api/api_mchcp.cgi?username=hsadmin_8228&password=hsadmin_8228&hs_uid=hsadmin_8228&assessment=DRC&xnum=3&output_format=pdf">PDF</a>
		&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://base1.hra.net/cgi-bin/api/api_mchcp.cgi?username=hsadmin_8228&password=hsadmin_8228&user_hs_ident=pankaj123456&assessment=DRC&xnum=4">HTML</a>
	</div>
	|;
}

