
</div>
<!-- center section end here-->

<!-- footer-line section start here-->
<div id="footer-line">
</div>
<!-- footer-line section end here-->

<!-- footer-menu section start here-->
<div id="footer-menu" class="footer_link">
</div>
<!-- footer-menu section end here-->

<!-- footer section start here-->
<div id="footer" class="copyTxt">
<p class="pad16">
Copyright &copy; 1998-2012 HealthStatus.com, Inc., All rights reserved.
</p>
</div>
<!-- footer section end here-->

</div>
<!-- main section end here-->
<!-- Paste analytics code here -->

</body>
</html>