Congratulations! You've taken the first step to improving your health and fitness.

To help you stay on track, we've set up a Health Assessments page where you'll find a record of all the assessments you've taken and links to relevant articles and tools that will help you lower your health risks. Now that you've taken your first assessment, visit your page again to view results and take other assessments.

To access your Health Assessments page, log into {$client} and click on the Health Assessment link.

Link to ({$home}{$member}) for a healthier you. 

To your good health!
{$client}