			</td>
		</tr>
		<tr>
			<td class="HSbodytext" colspan=3>
				<br />return to <a href="{$member}">assessment records page</a><br />&nbsp;<br />
			</td>
		</tr>
	      </table>
	  </td>
	</tr>
  	</table>
    </td>
  </tr>
</table>
</body>
</html>