{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}batch_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}drc_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}batch_header.tmpl", PACKAGE => __PACKAGE__ );
}<div class="HSstyle">
	<table width="560" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="12">&nbsp;</td>
          <td align=left class="HStitle"><img src="images/global/trans.gif" width="1" height="22">Batch Entry - {$db_batch_number}</td>
        </tr>
        <tr>
          <td width="12">&nbsp;</td>
          <td align="center" valign="top">
              <table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="HSbodytext" colspan=3>
				<br />&nbsp;<br />Entered by: {$db_batch_entered_by}<br />Entered on: {$date}<br />&nbsp;<br />
			</td>
		</tr>
		<tr>
			<td align=right class="HSbodytext" colspan=3>
				Assessment &nbsp;&nbsp;&nbsp;count<br />
				---------------------<br />
				Cardiac &nbsp;&nbsp;&nbsp;{$db_batch_count_crc}<br />
				Diabetes &nbsp;&nbsp;&nbsp;{$db_batch_count_drc}<br />
				Fitness &nbsp;&nbsp;&nbsp;{$db_batch_count_fit}<br />
				General Health &nbsp;&nbsp;&nbsp;{$db_batch_count_gha}<br />
				Well-being &nbsp;&nbsp;&nbsp;{$db_batch_count_gwb}<br />
				Health Risk &nbsp;&nbsp;&nbsp;{$db_batch_count_hra}<br />
				---------------------<br />
				Total &nbsp;&nbsp;&nbsp;{$db_batch_count}<br />
				<br />&nbsp;<br />
				<br />&nbsp;<br />
				Batch number - {$db_batch_number}<br />Batch id - {$db_id}<br />
				<br />&nbsp;<br />
				Starting to print files:<br />
			</td>
		</tr>
		<tr>
			<td class="HSbodytext" colspan=3>
