HAPPY BIRTHDAY {$fname}!

{$age} years old!  Can you believe it?  Now is a great time to take an assessment about your health.  All the risk calculations are age based so you will see some changes.  Additionally, you need to review your recommended preventative measures, as those change as we get older.  To take an assessment visit us again at
{$home}

We wish you the happiest of days!

{$client}
