{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}compare_fit_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$header_file", PACKAGE => __PACKAGE__ );
}       <!-- Template: fit_1.tmpl -->
	<!-- Templates called: fit_variables.tmpl, fit_links.tmpl, {$footer_file}, {$config{variables_template}},  {$header_file} -->
	       <div class="HSstyle">
		<table class="HSassessments">
        <tr>
          <td width="12"><img src="images/global/trans.gif" width="12" height="1"></td>
          <td class="HSbodytext"><img src="images/global/trans.gif" width="1" height="22"><br>
            {$fit_title}<br>
            <img src="images/global/trans.gif" width="1" height="8"><br>
            <span class="HSintro">{$lang{$current_language}{fit_intro}}<br>
            </span><br>
            <img src="images/global/trans.gif" width="1" height="18"><br>
            {$fit_subtitle}<br>
            <img src="images/global/trans.gif" width="1" height="10"></td>
        </tr>
        <tr>
          <td width="12">&nbsp;</td>
          <td valign="top">{$status_message}
            <table width="100%" border="1" cellspacing="0" cellpadding="4" bordercolor="#000099">
 			{

				my $oline = ""  ;
				foreach my $hash_key(sort keys %x_user){ 
					next if $hash_key eq 'risk_data';
					next if $hash_key eq 'config';
					$oline .= "<tr><td class=\"bodytext\">$hash_key </td><td>$x_user{$hash_key}</td><td> $y_user{$hash_key}</td></tr>"; 
				}

				$oline;
			}
			</table></td>
			</tr>
              <tr>
                <td colspan="2"></td>
              </tr>
               <tr>
                <td valign="middle" align="right" colspan="2" height="30">&nbsp;</td>
              </tr>
              <tr valign="bottom">
                <td height="50" align="left">&nbsp;</td>
                <td align="right" height="50">{if(!$edit_preview) {qq|<form method="post" action="$pager">
		<input type="image" border=0 name="compare_fit_2.tmpl" value="compare_fit_2.tmpl" $next>
			$hidden_cgi_fields
		</form>|;}}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="12" height="30">&nbsp;</td>
          <td align="center" valign="top" height="30">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td class="HScopyright">{$copyright}</td>
        </tr>
      </table>
      </div>
    <!-- Template: fit_1.tmpl End -->
{
# this is the standard footer for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$footer_file", PACKAGE => __PACKAGE__ );
}

