{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}batch_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}crc_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}batch_header.tmpl", PACKAGE => __PACKAGE__ );
}       <div class="HSstyle">
		<table width="560" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="12">&nbsp;</td>
          <td align=left class="HSbodytext">Quick entry tips:<br>* tab key moves you from field to field<br>* enter is the same as clicking submit<br>* repeated pressing of the first key moves you down a drop down list (press M twice to get to May in the month field)<br> <br></td>
        </tr>
        <tr>
          <td width="12">&nbsp;</td>
          <td align=left class="HStitle"><img src="images/global/trans.gif" width="1" height="22">Batch Entry Cardiac Risk Assessment</td>
        </tr>
        <tr>
          <td width="12">&nbsp;</td>
          <td align="center" valign="top">
            <!--Form and form table START here. Table max width no more than 560 pixels.-->
            <form METHOD="POST" action="{$batch_entry}" name="theForm">
              <table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="right" class="HSbodytext" colspan=3>
                    Switch assessment <a href="{$fit_batch}">[ fit ]</a> <a href="{$drc_batch}">[ diabetes ]</a> <a href="{$gha_batch}">[ health risk ]</a> <a href="{$gwb_batch}">[ well-being ]</a><br />&nbsp;<br />
					Batch Number {$db_batch_number}<br />Cardiac Assessments entered {$db_batch_count_crc}<br />Total Assessments entered {$db_batch_count}<br />&nbsp;<br />
                    <a href="{$end_batch}">[ close batch ]</a><br />
                    <a href="{$print_batch}">[ close and print batch ]</a><br />&nbsp;<br />
                    <a href="{$member}">[ assessment records page ]</a><br />&nbsp;<br />
					<input type="hidden" name="assessment" value="CRC">
					<input type=hidden name="restrict" value="">
					<input type=hidden name="modify" value="">
					<input type=hidden name="output_format" value="BATCH">
					<input type=hidden name="db_batch_entered_by" value="">
					<input type=hidden name="db_batch_count" value="">
					<input type=hidden name="db_batch_count_crc" value="">
					<input type=hidden name="db_batch_count_drc" value="">
					<input type=hidden name="db_batch_count_fit" value="">
					<input type=hidden name="db_batch_count_gha" value="">
					<input type=hidden name="db_batch_count_gwb" value="">
					<input type=hidden name="db_batch_count_hra" value="">
					<input type=hidden name="db_batch_count_mr" value="">
					<input type=hidden name="db_batch_count_pt" value="">
					<input type=hidden name="db_batch_number" value="">
					<input type=hidden name="db_number" value="">
					{ if($modify){ '<input type=hidden name="xnum" value="">';} }
					<input type=hidden name="page" value="1">
					</td>
				</tr>
                <tr>
                  <td align="right" class="HSbodytext">User ID:</td>
                  <td>&nbsp;</td>
                  <td>
                    <input NAME="db_id" SIZE="15" maxlength="25" type="text"  class="HSquestion" />
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
				<tr>
					<td align="right" class="HSbodytext">Registration/Location Number:</td>
					<td>&nbsp;</td>
					<td><input name="siteid" type="text" size="18"  class="HSquestion" /></td>
				</tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
				<tr>
                  <td align="right" class="HSbodytext">First name:</td>
                  <td>&nbsp;</td>
                  <td>
                    <input class="HSquestion" NAME="first_name" SIZE="28" value="">
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Last name:</td>
                  <td>&nbsp;</td>
                  <td>
                    <input class="HSquestion" NAME="last_name" SIZE="28" value="">
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td><img src="images/global/trans.gif" height="5" width="220"></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Date of Birth:</td>
                  <td><img src="images/global/trans.gif" width="10" height="1"></td>
                  <td>
                    <select class="HSquestion" name="birth_month" size="1">
							<option value="01">Jan</option>
							<option value="02">Feb</option>
							<option value="03">Mar</option>
							<option value="04">Apr</option>
							<option value="05">May</option>
							<option value="06">Jun</option>
							<option value="07">Jul</option>
							<option value="08">Aug</option>
							<option value="09">Sep</option>
							<option value="10">Oct</option>
							<option value="11">Nov</option>
							<option value="12">Dec</option>
					</select>
					<select class="HSquestion" name="birth_date" size="1">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
		  			</select>
		  			<input class="HSquestion" NAME="birth_year" SIZE="4" maxlength="4" value="19xx">
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Sex:</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" NAME="sex">
						<option value="">&nbsp;</option>
						<option value="Female">Female</option>
						<option value="Male">Male</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">What is your weight?<br>
                    (in pounds)</td>
                  <td>&nbsp;</td>
                  <td>
                    <input class="HSquestion" NAME="weight" SIZE="5" maxlength="3">
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">What is your height?</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" size="1" name="height">
						<option value="48">4' 1&quot;</option>
						<option value="49">4' 2&quot;</option>
						<option value="51">4' 3&quot;</option>
						<option value="52">4' 4&quot;</option>
						<option value="53">4' 5&quot;</option>
						<option value="54">4' 6&quot;</option>
						<option value="55">4' 7&quot;</option>
						<option value="56">4' 8&quot;</option>
						<option value="57">4' 9&quot;</option>
						<option value="58">4' 10&quot;</option>
						<option value="59">4' 11&quot;</option>
						<option value="60">5'</option>
						<option value="61">5' 1&quot;</option>
						<option value="62">5' 2&quot;</option>
						<option value="63">5' 3&quot;</option>
						<option value="64">5' 4&quot;</option>
						<option value="65">5' 5&quot;</option>
						<option value="66" selected>5' 6&quot;</option>
						<option value="67">5' 7&quot;</option>
						<option value="68">5' 8&quot;</option>
						<option value="69">5' 9&quot;</option>
						<option value="70">5' 10&quot;</option>
						<option value="71">5' 11&quot;</option>
						<option value="72">6'</option>
						<option value="73">6' 1&quot;</option>
						<option value="74">6' 2&quot;</option>
						<option value="75">6' 3&quot;</option>
						<option value="76">6' 4&quot;</option>
						<option value="77">6' 5&quot;</option>
						<option value="78">6' 6&quot;</option>
						<option value="79">6' 7&quot;</option>
						<option value="80">6' 8&quot;</option>
						<option value="81">6' 9&quot;</option>
						<option value="82">6' 10&quot;</option>
						<option value="83">6' 11&quot;</option>
						<option value="84">7'</option>
						<option value="85">7' 1&quot;</option>
						<option value="86">7' 2&quot;</option>
						<option value="87">7' 3&quot;</option>
						<option value="88">7' 4&quot;</option>
						<option value="89">7' 5&quot;</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Please indicate your race:</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" size="1" NAME="race">
						<option value="">&nbsp;</option>
						<option VALUE="African American">African American </option>
						<option VALUE="Aleutian, Eskimo or American Indian">Aleutian</option>
						<option VALUE="Aleutian, Eskimo or American Indian">American Indian</option>
						<option VALUE="Asian"> Asian</option>
						<option VALUE="Caucasian">Caucasian</option>
						<option VALUE="Aleutian, Eskimo or American Indian">Eskimo</option>
						<option VALUE="Hispanic">Hispanic/Latino</option>
						<option VALUE="Other">Other </option>
						<option VALUE="Don't know">Don't know</option>
					</select>
                  </td>
                </tr>
               <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Have you ever had diabetes?</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" name="diabetes">
						<option value="">&nbsp;</option>
						<option value="No">No</option>
						<option value="Yes">Yes</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Have you ever had a heart attack?</td>
                  <td><img src="images/global/trans.gif" width="10" height="1"></td>
                  <td>
					<select class="HSquestion" name="heart_attack">
						<option value="">&nbsp;</option>
						<option value="No">No</option>
						<option value="Yes">Yes</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Have either your parents or siblings<br> ever had a heart attack?</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" name="family_heart_attack">
						<option value="">&nbsp;</option>
						<option value="unknown">Don't know</option>
						<option value="No">No</option>
						<option value="Yes">Yes</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Have you suffered a personal loss<br>or misfortune in the
                  									past year<br>that had a serious impact on your life?
                  </td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" name="loss">
						<option value="">&nbsp;</option>
						<option value="No">No</option>
						<option value="1">Yes, one serious loss or misfortune</option>
						<option value="2">Yes, two or more</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">During an average week, how often<br>would you say you are stressed?</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" name="stress">
						<option value="">&nbsp;</option>
						<option value="7">Every day </option>
						<option value="3">3-5 times a week</option>
						<option value="1">1-2 times a week</option>
						<option value="X">Less than once a week</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">What is your blood pressure now?<br>Systolic (high number):<br>Diastolic (low number):</td>
                  <td>&nbsp;</td>
                  <td>
					&nbsp;<br><input type="TEXT"  class="HSquestion" name="bp_sys" SIZE="4" value=""><br><input type="TEXT"  class="HSquestion" name="bp_dias" SIZE="4" value="">
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td><img src="images/global/trans.gif" height="5" width="220"></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">If you do not know the numbers, which<br>describes your blood pressure:</td>
                  <td><img src="images/global/trans.gif" width="10" height="1"></td>
                  <td>
					<select class="HSquestion" name="bp_check">
						<option value="">&nbsp;</option>
						<option value="High">High</option>
						<option value="Normal or low">Normal or low</option>
						<option value="Don't know">Don't know</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">What is your TOTAL cholesterol level?</td>
                  <td>&nbsp;</td>
                  <td>
					<input type="TEXT"  class="HSquestion" name="cholesterol" SIZE="3" value="">
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">What is your HDL cholesterol (also known<br>as good cholesterol)?</td>
                  <td>&nbsp;</td>
                  <td>
					<input type="TEXT"  class="HSquestion" name="hdl" SIZE="3" value="">
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">If you do not know the numbers, check which describes your cholesterol:</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" name="cholesterol_check">
						<option value="">&nbsp;</option>
						<option value="High">High</option>
						<option value="Normal or low">Normal or low</option>
						<option value="Don't know">Don't know</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">How would you describe your cigarette smoking habits?</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" name="smoke_status">
						<option value="">&nbsp;</option>
						<option value="Never smoked">Never smoked</option>
						<option value="Used to smoke">Used to smoke</option>
						<option value="Still smoke">Still smoke</option>
					</select>
            </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td><img src="images/global/trans.gif" height="5" width="240"></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">How many cigarettes a day do you, or did you, smoke?</td>
                  <td><img src="images/global/trans.gif" width="10" height="1"></td>
                  <td class="HSbodytext">
					<input type="TEXT"  class="HSquestion" name="cigs_a_day" SIZE="2" value=""> cigarettes
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">How many times do you engage in physical activity in a typical week?</td>
                  <td>&nbsp;</td>
                  <td>
					<input type="TEXT"  class="HSquestion" name="exercise" SIZE="2" value="">
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">How often do you eat some food that is high in fiber, such as whole grain bread, cereal, fresh fruits or vegetables?</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" name="fiber">
						<option value="">&nbsp;</option>
						<option value="1">Every meal</option>
						<option value="2">Daily</option>
						<option value="3">Several times a week</option>
						<option value="4">Seldom</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">How often do you eat foods every day that are high in cholesterol or fat, such as fatty meat, cheese,  fried foods, or eggs?</td>
                  <td>&nbsp;</td>
                  <td>
					<select class="HSquestion" name="fat">
						<option value="">&nbsp;</option>
						<option value="1">Every meal</option>
						<option value="2">Daily</option>
						<option value="3">Several times a week</option>
						<option value="4">Seldom</option>
					</select>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>
                    <input type="image" border=0 name="assess" value="assess" $submit>
                  </td>
                </tr>
              </table>
            </form>
            <!--Form and form table END here.-->
          </td>
        </tr>
        <tr>
          <td width="12" height="30">&nbsp;</td>
          <td align="center" valign="top" height="30">&nbsp;</td>
        </tr>
      </table>
      </div>
      {$copyright}<p>&nbsp;</p>
{
# this is the standard footer for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$footer_file", PACKAGE => __PACKAGE__ );
}

