<!-- Template: drc_cover_letter_html.tmpl -->
<p></p>
<p>Your Personalized Diabetes Risk Assessment<br>{$date}</p>
<p>Dear {$name}:</p>
<P>This report is an educational tool designed to identify health risk factors you can control and provide you with suggestions for making positive lifestyle changes.</p> 
<p>However, this evaluation is not a substitute for a health exam from a physician, and it can't identify a specific medical problem. It can only show you how you can avoid the most common causes of illnesses and injuries for a person of your age and gender. Please see a health professional for further advice.</p>
<p>{$fact}</p>
<p>Over sixteen million Americans have diabetes, one third of them are not aware they have the disease. You have taken the first step to determine if you are at risk for this serious disease.  Diabetes can lead to blindness, heart disease, stroke, kidney failure and loss of limbs.  Almost 200,000 people die from diabetes each year.</p>
<p>Read your report carefully, and if you have questions, contact your doctor or a health professional who can help you understand the results.</p>
<p>Thank you,</p><p>{$client_web_signature}</p>
<p>&nbsp; </p>
