{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( $config{variables_template}, PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}drc_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}drc_links.tmpl", PACKAGE => __PACKAGE__ );
}Message:
{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}drc_message.tmpl", PACKAGE => __PACKAGE__ );
}
Suggested Reading/Links:
{
join "\r", 
	map { qq|$$_[1] ==>  $$_[0]| }
	@links;
}
