<!-- Template: drc_cover_letter_html.tmpl -->
<p></p>
<p>{$lang{Personalized_Diabetes_Risk}{$current_language}}<br>{$bold_on}{$date}{$bold_off}</p><br>
<p>{$lang{Dear}{$current_language}} {$bold_on}{$name}:{$bold_off}</p>
<P>{$lang{educational_tool_designed}{$current_language}}</p> <br>
<p>{$lang{evaluation_is_not_a_substitute}{$current_language}}</p><br>
<p>{$fact}</p><br>
<p>{$lang{Over_sixteen_million_Americans}{$current_language}}</p><br>
<p>{$lang{Read_your_report_carefully}{$current_language}}</p><br>
<p>{$lang{Thank_you}{$current_language}},</p><br><p>{$bold_on}{$client_web_signature}{$bold_off}</p>
<p>&nbsp; </p>
