{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}language.tmpl", PACKAGE => __PACKAGE__ );
}
{Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>HealthStatus Email Editing</title>
<base href={$base}>
<link rel="stylesheet" href="{$config{conf_html_dir} . "styles/admin.css"}" type="text/css">
<script language="javascript" type="text/javascript" src="/styles/edit/jscripts/tiny_mce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript">
tinyMCE.init(\{
	mode : "textareas",
	theme : "advanced",
	preformatted : "true",
	remove_linebreaks : false,
	plugins:"tokens",
	theme_advanced_buttons1 : "undo,redo",
	theme_advanced_buttons2:"tokens",
	theme_advanced_buttons3 : "",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_path_location : "bottom",
	tokens_token_list:"User Age=\{$age\};User First Name=\{$fname\};User Last Name=\{$lname\};User Sex=\{$sex\};HomePage=\{$home\};Your Company=\{$client\};",
	extended_valid_elements : "a[name|href|target|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],font[face|size|color|style],span[class|align|style]"
\});
function set_values(message,flag) \{
	var answer = prompt  ("Please enter the email address.","");
	if(answer == null)
	return false;
	if(answer == '') \{
		alert("Please enter the email address.");
		return false;
	\} else \{
		var error = checkEmail(answer);
		if(error) \{
			alert(error);
			return false;
		\}
	\}
	document.frm.email.value=answer;
	document.frm.save.value="";
	document.frm.send_email.value=1;
	var email_content = eval('document.frm.'+ message +'.value');
	var new_String 	= email_content.replace(/\{\$date\}/g, "{$date}");
	new_String 		= new_String.replace(/\{\$name\}/g, "{$name}");
	new_String 		= new_String.replace(/\{\$fact\}/g, "{$fact}");
	new_String 		= new_String.replace(/\{\$client_web_signature\}/g, "{$client_web_signature}");
	new_String 		= new_String.replace(/\{\$fname\}/g, "{$first_name}");
	new_String 		= new_String.replace(/\{\$lname\}/g, "{$last_name}");
	new_String 		= new_String.replace(/\{\$age\}/g, "{$age}");
	new_String 		= new_String.replace(/\{\$sex\}/g, "{$sex}");
	new_String 		= new_String.replace(/\{\$home\}/g, "{$home}");
	new_String 		= new_String.replace(/\{\$client\}/g, "{$client}");
	new_String 		= new_String.replace(/\{\$member\}/g, "{$member}");
	document.frm.email_text.value=new_String;
	document.frm.flag.value=flag;

\}
function checkEmail (strng) \{
	var error="";
    var emailFilter=/^.+@.+\..\{2,3\}$/;
    if (!(emailFilter.test(strng))) \{ 
       error = "Please enter a valid email address.\n";
    \}
    else \{
	//test email for illegal characters
       var illegalChars= /[\(\)\<\>\,\;\:\\\"\[\]]/
         if (strng.match(illegalChars)) \{
          error = "The email address contains illegal characters.\n";
       \}
    \}
return error;    
\}
</script>
</head>
<body>
<table border=0, width=770 id="main_table">
<tr>
<td colspan=2 id="headbar">
<img src="/images/global/logo_hs.gif" border=0><br>
<h1>Make changes to the emails sent to your users.  To insert a paragraph use &lt;p&gt;.  Do not use any other HTML code, all emails are sent as text only.<br><br></h1>
</td></tr>
<tr>
<td width=50% id="main_pane">
<form method="post"action="{$cgi_dir}/edit_files.cgi" name="frm">
{ 	my $tbox1;
	if($config{send_attaboy} == 1){ $tbox1 = qq|<p>Attaboy Email Text - Sent after user completes an assessment<br>
	<textarea name="attaboy_text" cols="45" rows="15">$attaboy_email</textarea><br><input type=submit value="Save Changes"> <input type=submit onClick="return set_values('attaboy_text','attaboy');" value="Send Test Email"><br><br>|;}
$tbox1;
}
{ 	my $tbox;
	if($config{bday_text}){ $tbox = qq|<p>Birthday Email Text - Sent on the morning of their birthday<br>
	<textarea name="bday_text" cols="45" rows="15">$bday_email</textarea><br><input type=submit value="Save Changes"> <input type=submit onClick="return set_values('bday_text','bday');" value="Send Test Email"><br><br>|;}
$tbox;
}
<input type=hidden name=save value=email>
<input type=hidden name=email value="">
<input type=hidden name=send_email value="">
<input type=hidden name=email_text value="">
<input type=hidden name=flag value=""><br>
<a href="{$edit_covers}?revert_back=email">Revert back to the original default templates</a><br>
<a href="{$config{admin_path}}">Cancel Editing and Return to Administration Screen</a>
</form>
</td>
<td width=50% id="main_pane">
{Text::Template::fill_in_file( "$config{template_directory}/edit_tokens.tmpl", PACKAGE => __PACKAGE__ );}
</td></tr></table>
</body>
</html>