Common Tokens (select from list)<br>
<ul><li>\{$fname\} - users first name</li>
<li>\{$lname\} - users last name</li>
<li>\{$name\} - users full name</li>
<li>\{$age\} - users age</li>
<li>\{$sex\} - users sex</li>
<li>\{$home\} - home page of your site</li>
<li>\{$client\} - your corporate name</li>
<li>\{$fact\} - an assessment specific paragraph with user details</li>
</ul>
You must have braces enclosing the token and it must start with a $ sign.  You can't just make tokens up and expect them to work.
