<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>There is a problem.</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<SCRIPT LANGUAGE="JavaScript">
function goBack() \{
	window.history.go(-1)
\}
</SCRIPT>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#666666" vlink="#669933" alink="#666666" bgcolor="#333366" text="#666666">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#99cc33">
  <tr valign="top">
    <td></td>
    <td><p>There is a problem with how the program is dealing with what you are trying to do...<a HREF="mailto:webmaster@healthstatus.com?subject={$message}-{$error}-{$ENV{HTTP_HOST}}">
    Click here if you would like to report this message</a></p></td>
    <td></td>
  </tr>
</table>
</body>
</html>

