{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}assessment_language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}fit_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$header_file", PACKAGE => __PACKAGE__ );
}
	 <div id="ass-top-img" class="steptxt">
<p class="pad26"><a href="javascript:window.print()">{$lang{PRINT_THIS_PAGE}{$current_language}}</a></p>
</div>
<!-- ass-top-img section end here-->

<div id="ass-bg" class="content">
<p class="pad27">
{$lang{fit_intro}{$current_language}}
</p>
</div>

<!-- risk-top-img section start here-->
<div id="risk-top-img" class="steptxt">

<p class="pad26">{$fit_subtitle_in}</p>
</div>
<!-- risk-top-img section end here-->


<div id="risk-bg">
<table cellspacing="0" class="content" style="margin-left: 30px">
<tr><td><b>{$lang{Instructions}{$current_language}}</b></td></tr>
 <tr>
                <td>
                  <p>{$lang{four_individual_parts}{$current_language}}</p>
                  <p>&nbsp; </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><b>{$lang{Trunk_Flexibility_Test}{$current_language}}</b></span><br>
					{$lang{strip_of_tape_yardstick}{$current_language}}  {$lang{tape_on_the_floor}{$current_language}}  {$lang{heels_on_near_edge}{$current_language}}  {$lang{yardstick_on_the_floor}{$current_language}} {$lang{heels_touch_each_end}{$current_language}} <img border="0" src="images/fit/man.gif">
					{$lang{Get_on_the_floor}{$current_language}}
					{$lang{Slowly_reach_forward}{$current_language}}
					{$lang{DO_NOT_jerk}{$current_language}}
					{$lang{Repeat_total_3_times}{$current_language}}
					{$lang{Write_greatest_number}{$current_language}}
					{$lang{completed_this_component}{$current_language}}</p>
                  <p>&nbsp; </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><b>{$lang{Part_2_Step_Test}{$current_language}}</b></span><br>
					{$lang{Take_a_little_time}{$current_language}}
					{$lang{Set_timer_or_stopwatch}{$current_language}}
					{$lang{Begin_stepping}{$current_language}}
					{$lang{Stop_at_three_minutes}{$current_language}}
					{$lang{Sit_down_immediately}{$current_language}}
					{$lang{Exactly_one_minute}{$current_language}}
					{$lang{number_of_beats}{$current_language}}
					{$lang{completed_this_component}{$current_language}}</p>
                  <p>&nbsp; </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><b>{$lang{Part_3_Sit_up_Test}{$current_language}}</b></span><br>
					{$lang{situps_for_sixty_seconds}{$current_language}}
					{$lang{Set_timer_for_1_minute}{$current_language}}
					{$lang{Begin_sit_ups}{$current_language}}
					{$lang{Stop_at_exactly_one_minute}{$current_language}}
					{$lang{Write_the_number_situps}{$current_language}}
					{$lang{completed_this_component}{$current_language}}</p>
                  <p>&nbsp; </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p><b>{$lang{Part_4_Pushup_Test}{$current_language}}</b></span><br>
					{$lang{perform_pushups_sixty_seconds}{$current_language}}
					{$lang{Set_timer_stopwatch}{$current_language}}
					{$lang{Begin_push_ups}{$current_language}}
					{$lang{Stop_at_exactly_one_minute}{$current_language}}
					{$lang{number_of_push_ups}{$current_language}}
					{$lang{completed_this_component}{$current_language}}</p>
                  <p>&nbsp; </p>
                </td>
              </tr>
</table>
</div>
{
# this is the standard footer for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$footer_file", PACKAGE => __PACKAGE__ );
}