<p>Your Personalized Fitness Assessment<br>{$bold_on}{$date}{$bold_off}</p>
<p>Dear {$bold_on}{$name}:{$bold_off}</p>
<p>This report contains the result of your fitness assessment. This is different from a checkup or a physical exam you'd get from your doctor or a nurse. It can’t tell you if you’re sick or have a medical problem, but it can help you identify areas in need of improvement in your current level of fitness.</p>
<p>The results are based on data collected from the American College of Sports Medicine and other physical fitness research. The report from your fitness assessment will help you evaluate yourself in four of the five primary areas that define physical fitness: heart and respiratory endurance, body composition, muscle endurance, and flexibility. For an evaluation of muscle strength, the fifth factor in defining fitness, a trained professional at your local gym or fitness center should be able to help.</p>
<p>Read your report carefully. If you have questions, contact your doctor or a health professional who can help you understand the results.</p>
<p>Thank you,</p><p>{$bold_on}{$client_web_signature}{$bold_off}</p>
<p>&nbsp; </p>
