{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}assessment_language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}fit_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$header_in_file", PACKAGE => __PACKAGE__ );
}   <!-- Template: fit_qset.tmpl -->
	<!-- Templates called: fit_variables.tmpl, {$footer_file}, {$config{variables_template}},  {$header_in_file} -->
	                <!--Form and form table START here. Table max width no more than 560 pixels.-->
<!-- ass-top-img section start here-->
<div id="ass-top-img" class="steptxt">
<p class="pad26">{$fit_title}</p>
</div>
<!-- ass-top-img section end here-->

<div id="ass-bg" class="content">
<p class="pad27">
{$lang{fit_intro}{$current_language}}
</p>
</div>

<!-- risk-top-img section start here-->
<div id="risk-top-img" class="steptxt">
<p class="pad26">{$fit_subtitle_in}</p>
</div>
<!-- risk-top-img section end here-->


<!-- pagination section start here-->
<div id="pagination" class="content">
<p class="pad28">{$lang{curr_page_msg}{$current_language}} 1 &nbsp; </p>
</div>
<!-- pagination section end here-->

<p><img src="images/ass_06.jpg" alt="" /></p>

<div id="ass-bg" class="content">
<p class="pad26">
{$lang{fit_msg14}{$current_language}} <a href="{$cgi_dir}/fitme.cgi?page=fit1.html&status=retake&language={$language}" target="_blank">{$lang{fit_msg15}{$current_language}}</a> {$lang{fit_msg16}{$current_language}}
</p>
</div>

<!-- risk-bg section start here-->
<div id="risk-bg">
<table width="967" cellspacing="0" style="margin-left: 30px">
<form METHOD="POST" action="{$collector}" name="theForm" onSubmit="return checkWholeForm(this)">

                    <tr>
				        <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">{$lang{first_name}{$current_language}}:</td>
				        <td width=767 style="padding-top: 10px"><input NAME="first_name" SIZE="28" value="" class="textBox"   onKeyup="if(this.value.match(/[^A-Za-z \.]/))this.value=this.value.replace(/[^A-Za-z \.]/g,'')"></td>
				    </tr>

					<tr>
				        <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">{$lang{last_name}{$current_language}}:</td>
				        <td width=767 style="padding-top: 10px"><input NAME="last_name" SIZE="28" value="" class="textBox" onKeyup="if(this.value.match(/[^A-Za-z \.\-]/))this.value=this.value.replace(/[^A-Za-z \.\-]/g,'')"></td>
				    </tr>

					<tr>
				        <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">{$lang{date_of_birth}{$current_language}}:</td>
				        <td width=767 style="padding-top: 10px"><select  name="birth_month" style="width: 75px" size="1">
							<option value="01">{$lang{jan}{$current_language}}</option>
							<option value="02">{$lang{feb}{$current_language}}</option>
							<option value="03">{$lang{mar}{$current_language}}</option>
							<option value="04">{$lang{apr}{$current_language}}</option>
							<option value="05">{$lang{may}{$current_language}}</option>
							<option value="06">{$lang{jun}{$current_language}}</option>
							<option value="07">{$lang{jul}{$current_language}}</option>
							<option value="08">{$lang{aug}{$current_language}}</option>
							<option value="09">{$lang{sep}{$current_language}}</option>
							<option value="10">{$lang{oct}{$current_language}}</option>
							<option value="11">{$lang{nov}{$current_language}}</option>
							<option value="12">{$lang{dec}{$current_language}}</option>
					</select>
					<select  name="birth_date" style="width: 75px" size="1">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
		  			</select>
		  			<input NAME="birth_year" SIZE="4" maxlength="4" value="19xx" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')">

						</td>
				    </tr>

					<tr>
				        <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">{$lang{sex}{$current_language}}:</td>
				        <td width=767 style="padding-top: 10px">
						<select style="width: 123px" name="sex">
						<option value="">&nbsp;</option>
						<option value="Female">{$lang{female}{$current_language}}</option>
						<option value="Male">{$lang{male}{$current_language}}</option>
					    </select>
					    </td>
				    </tr>

					<tr>
				            <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">{$lang{question_weight}{$current_language}}</td>
				            <td width=767 style="padding-top: 10px"><input NAME="weight" SIZE="5" maxlength="3" onKeyup="if(this.value.match(/[^0-9\.]/))this.value=this.value.replace(/[^0-9\.]/g,'')" ><span class="lb2"> ({$lang{weight_imp_unit}{$current_language}})</span> </td>
				    </tr>

					<tr>
				            <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">{$lang{question_height}{$current_language}}</td>
				            <td width=767 style="padding-top: 10px"><select size="1" style="width: 79px" name="height">
						<option value="48">4' 1&quot;</option>
						<option value="49">4' 2&quot;</option>
						<option value="51">4' 3&quot;</option>
						<option value="52">4' 4&quot;</option>
						<option value="53">4' 5&quot;</option>
						<option value="54">4' 6&quot;</option>
						<option value="55">4' 7&quot;</option>
						<option value="56">4' 8&quot;</option>
						<option value="57">4' 9&quot;</option>
						<option value="58">4' 10&quot;</option>
						<option value="59">4' 11&quot;</option>
						<option value="60">5'</option>
						<option value="61">5' 1&quot;</option>
						<option value="62">5' 2&quot;</option>
						<option value="63">5' 3&quot;</option>
						<option value="64">5' 4&quot;</option>
						<option value="65">5' 5&quot;</option>
						<option value="66" selected>5' 6&quot;</option>
						<option value="67">5' 7&quot;</option>
						<option value="68">5' 8&quot;</option>
						<option value="69">5' 9&quot;</option>
						<option value="70">5' 10&quot;</option>
						<option value="71">5' 11&quot;</option>
						<option value="72">6'</option>
						<option value="73">6' 1&quot;</option>
						<option value="74">6' 2&quot;</option>
						<option value="75">6' 3&quot;</option>
						<option value="76">6' 4&quot;</option>
						<option value="77">6' 5&quot;</option>
						<option value="78">6' 6&quot;</option>
						<option value="79">6' 7&quot;</option>
						<option value="80">6' 8&quot;</option>
						<option value="81">6' 9&quot;</option>
						<option value="82">6' 10&quot;</option>
						<option value="83">6' 11&quot;</option>
						<option value="84">7'</option>
						<option value="85">7' 1&quot;</option>
						<option value="86">7' 2&quot;</option>
						<option value="87">7' 3&quot;</option>
						<option value="88">7' 4&quot;</option>
						<option value="89">7' 5&quot;</option>
					</select> <span id="heightStatus" ></span></td>
				    </tr>

					<tr>
				            <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">{$lang{question_waist1}{$current_language}}</td>
				            <td width=767 style="padding-top: 10px"><input  type="text" name="waist" size="6" maxlength="3" onKeyup="if(this.value.match(/[^0-9\.]/))this.value=this.value.replace(/[^0-9\.]/g,'')">  <span class="lb2"> {$lang{length_imp_unit}{$current_language}}</span></td>
				    </tr>


					<tr>
				            <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">{$lang{fit_msg17}{$current_language}}:<br>
								{$lang{fit_msg18}{$current_language}}:<br>
								{$lang{fit_msg19}{$current_language}}:</td>
				            <td width=767 style="padding-top: 10px">&nbsp;<br /><select  size="1" name="wrist">
							  <option value="2">2&quot;</option>
							  <option value="2.125">2 1/8&quot;</option>
							  <option value="2.25">2 1/4&quot;</option>
							  <option value="2.375">2 3/8&quot;</option>
							  <option value="2.5">2 1/2&quot;</option>
							  <option value="2.625">2 5/8&quot;</option>
							  <option value="2.75">2 3/4&quot;</option>
							  <option value="2.875">2 7/8&quot;</option>
							  <option value="3">3&quot;</option>
							  <option value="3.125">3 1/8&quot;</option>
							  <option value="3.25">3 1/4&quot;</option>
							  <option value="3.375">3 3/8&quot;</option>
							  <option value="3.5">3 1/2&quot;</option>
							  <option value="3.625">3 5/8&quot;</option>
							  <option value="3.75">3 3/4&quot;</option>
							  <option value="3.875">3 7/8&quot;</option>
							  <option value="4">4&quot;</option>
							  <option value="4.125">4 1/8&quot;</option>
							  <option value="4.25">4 1/4&quot;</option>
							  <option value="4.375">4 3/8&quot;</option>
							  <option value="4.5">4 1/2&quot;</option>
							  <option value="4.625">4 5/8&quot;</option>
							  <option value="4.75">4 3/4&quot;</option>
							  <option value="4.875">4 7/8&quot;</option>
							  <option value="5">5&quot;</option>
							  <option value="5.125">5 1/8&quot;</option>
							  <option value="5.25">5 1/4&quot;</option>
							  <option value="5.375">5 3/8&quot;</option>
							  <option value="5.5">5 1/2&quot;</option>
							  <option value="5.625">5 5/8&quot;</option>
							  <option value="5.75">5 3/4&quot;</option>
							  <option value="5.875">5 7/8&quot;</option>
							  <option value="6">6&quot;</option>
							  <option value="6.125">6 1/8&quot;</option>
							  <option value="6.25">6 1/4&quot;</option>
							  <option value="6.375">6 3/8&quot;</option>
							  <option value="6.5">6 1/2&quot;</option>
							  <option value="6.625">6 5/8&quot;</option>
							  <option value="6.75">6 3/4&quot;</option>
							  <option value="6.875">6 7/8&quot;</option>
							  <option value="7">7&quot;</option>
							  <option value="7.125">7 1/8&quot;</option>
							  <option value="7.25">7 1/4&quot;</option>
							  <option value="7.375">7 3/8&quot;</option>
							  <option value="7.5">7 1/2&quot;</option>
							  <option value="7.625">7 5/8&quot;</option>
							  <option value="7.75">7 3/4&quot;</option>
							  <option value="7.875">7 7/8&quot;</option>
							  <option value="8">8&quot;</option>
							  <option value="8.125">8 1/8&quot;</option>
							  <option value="8.25">8 1/4&quot;</option>
							  <option value="8.375">8 3/8&quot;</option>
							  <option value="8.5">8 1/2&quot;</option>
							  <option value="8.625">8 5/8&quot;</option>
							  <option value="8.75">8 3/4&quot;</option>
							  <option value="8.875">8 7/8&quot;</option>
							  <option value="9">9&quot;</option>
							  <option value="9.125">9 1/8&quot;</option>
							  <option value="9.25">9 1/4&quot;</option>
							  <option value="9.375">9 3/8&quot;</option>
							  <option value="9.5">9 1/2&quot;</option>
							  <option value="9.625">9 5/8&quot;</option>
							  <option value="9.75">9 3/4&quot;</option>
							  <option value="9.875">9 7/8&quot;</option>
							  <option value="10">10&quot;</option>
							  <option value="10.125">10 1/8&quot;</option>
							  <option value="10.25">10 1/4&quot;</option>
							  <option value="10.375">10 3/8&quot;</option>
							  <option value="10.5">10 1/2&quot;</option>
							  <option value="10.625">10 5/8&quot;</option>
							  <option value="10.75">10 3/4&quot;</option>
							  <option value="10.875">10 7/8&quot;</option>
							  <option value="11">11&quot;</option>
							  <option value="0" selected>{$lang{fit_msg20}{$current_language}}</option>
				  		</select><br>
				  		<select  size="1" name="elbow">
							<option value="1">1&quot;</option>
							<option value="1.125">1 1/8&quot;</option>
							<option value="1.25">1 1/4&quot;</option>
							<option value="1.375">1 3/8&quot;</option>
							<option value="1.5">1 1/2&quot;</option>
							<option value="1.625">1 5/8&quot;</option>
							<option value="1.75">1 3/4&quot;</option>
							<option value="1.875">1 7/8&quot;</option>
							<option value="2">2&quot;</option>
							<option value="2.125">2 1/8&quot;</option>
							<option value="2.25">2 1/4&quot;</option>
							<option value="2.375">2 3/8&quot;</option>
							<option value="2.5">2 1/2&quot;</option>
							<option value="2.625">2 5/8&quot;</option>
							<option value="2.75">2 3/4&quot;</option>
							<option value="2.875">2 7/8&quot;</option>
							<option value="3">3&quot;</option>
							<option value="3.125">3 1/8&quot;</option>
							<option value="3.25">3 1/4&quot;</option>
							<option value="3.375">3 3/8&quot;</option>
							<option value="3.5">3 1/2&quot;</option>
							<option value="3.625">3 5/8&quot;</option>
							<option value="3.75">3 3/4&quot;</option>
							<option value="3.875">3 7/8&quot;</option>
							<option value="4">4&quot;</option>
							<option value="4.125">4 1/8&quot;</option>
							<option value="4.25">4 1/4&quot;</option>
							<option value="4.375">4 3/8&quot;</option>
							<option value="4.5">4 1/2&quot;</option>
							<option value="4.625">4 5/8&quot;</option>
							<option value="4.75">4 3/4&quot;</option>
							<option value="4.875">4 7/8&quot;</option>
							<option selected value="0">{$lang{fit_msg20}{$current_language}}</option>
					</select>  <span id="wristStatus" ></span></td>
				    </tr>


					<tr>
				                  <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">
								  {$lang{fit_msg21}{$current_language}}:</td>
				                  <td width=767 style="padding-top: 10px"><input type="text" name="flexibility" size="7" maxlength="2" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')"> </td>
				    </tr>

					<tr>
				                  <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">
								  {$lang{fit_msg22}{$current_language}}:</td>
				                  <td width=767 style="padding-top: 10px"><input  type="text" name="pulse_rate_30_seconds" size="7" maxlength="3" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')"> </td>
				    </tr>

					<tr>
				                  <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">
								  {$lang{fit_msg23}{$current_language}}:</td>
				                  <td width=767 style="padding-top: 10px"> <input  type="text" name="sit_up" size="7" maxlength="3" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')"> </td>
				    </tr>

					<tr>
				                  <td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">
								  {$lang{fit_msg24}{$current_language}}:</td>
				                  <td width=767 style="padding-top: 10px"><input  type="text" name="push_ups" size="7" maxlength="2" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')"> </td>
				    </tr>

                    <tr>
								<td width=200>&nbsp;</td>
								<td width=767 style="padding-top: 8px; padding-bottom: 10px; padding-right: 70px; text-align:right">
									 <input type="image" name="assess" value="assess" {$submit} onmousedown="doValidate=true;"/>
					                 <input type=hidden name="page" value="1">
									 <input type="hidden" name="assessment" value="FIT">
									 <input type=hidden name="output_format" value="HTML">
									 <input type="hidden" name="language" value="">
							    </td>
	                </tr>
{ my $html_hiddens;
	$html_hiddens .= qq|<SCRIPT LANGUAGE="javascript">
						|;
	$html_hiddens .= qq|var noRace=$no_race_question;|;
	$html_hiddens .= qq|var noDrive=$no_drive_question;|;
	$html_hiddens .= qq|var noGina=$no_gina_question;|;
	$html_hiddens .= qq|var noBio=$no_bio_question;|;
	$html_hiddens .= qq|var noJob=$no_job_question;|;
	if($config{import_lock}){
		$html_hiddens .= qq|document.forms['theForm'].weight.setAttribute('disabled','true');document.forms['theForm'].weight.style.background='#C1FFC1';| if ($weight_self eq 'no' && $weight > 0);
		$html_hiddens .= qq|document.forms['theForm'].height.setAttribute('disabled','true');document.forms['theForm'].height.style.background='#C1FFC1';| if ($height_self eq 'no' && $height > 0);
		}
	$html_hiddens .= qq|
						</script>|;
$html_hiddens;
}
   </form>
            </table>
            <!--Form and form table END here.-->
            </div>

    <!-- Template: fit_qset.tmpl End -->
{
# this is the standard footer for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$footer_file", PACKAGE => __PACKAGE__ );
}

