{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}fit_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$header_in_file", PACKAGE => __PACKAGE__ );
}   <!-- Template: fit_metric_qset.tmpl -->
	<!-- Templates called: fit_variables.tmpl, {$footer_file}, {$config{variables_template}},  {$header_in_file} -->
	       <div class="HSstyle">
		<table class="HSassessments">
        <tr>
          <td width="12">&nbsp;</td>
          <td align=left><img src="images/global/trans.gif" width="1" height="22"><br>
            {$fit_title}<br>
            <img src="images/global/trans.gif" width="1" height="8"><br>
            <span class="HSintro">How fit are you? Measure your current level
            of fitness with our in-home assessment.<br>
            </span><br>
            <img src="images/global/trans.gif" width="1" height="18"><br>
            {$fit_subtitle_in}<br>
            <img src="images/global/trans.gif" width="1" height="10"></td>
        </tr>
        <tr>
          <td width="12">&nbsp;</td>
          <td align="center" valign="top">
            <!--Form and form table START here. Table max width no more than 560 pixels.-->
            <form METHOD="POST" action="{$collector}" name="theForm" onSubmit="return checkWholeForm(this)">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="right" class="HSbodytextbold">Click <a href="{$cgi_dir}/fitme.cgi?page=fit1.html" target="_blank">here</a> to get instructions<br> for the fitness assessment.</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">First name:</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
                    <input NAME="first_name" SIZE="28" value="" class="HSquestion"  onKeyup="if(this.value.match(/[^A-Za-z \.]/))this.value=this.value.replace(/[^A-Za-z \.]/g,'')"> <span id="firstnameStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Last name:</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
                    <input NAME="last_name" SIZE="28" value="" class="HSquestion" onKeyup="if(this.value.match(/[^A-Za-z \.\-]/))this.value=this.value.replace(/[^A-Za-z \.\-]/g,'')"> <span id="lastnameStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td><img src="images/global/trans.gif" height="5" width="220"></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Date of Birth:</td>
                  <td><img src="images/global/trans.gif" width="10" height="1"></td>
                  <td class="HSbodytextQ">
                    <select class="HSquestion" name="birth_month" size="1">
							<option value="01">Jan</option>
							<option value="02">Feb</option>
							<option value="03">Mar</option>
							<option value="04">Apr</option>
							<option value="05">May</option>
							<option value="06">Jun</option>
							<option value="07">Jul</option>
							<option value="08">Aug</option>
							<option value="09">Sep</option>
							<option value="10">Oct</option>
							<option value="11">Nov</option>
							<option value="12">Dec</option>
					</select>
					<select class="HSquestion" name="birth_date" size="1">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
		  			</select>
		  			<input class="HSquestion" NAME="birth_year" SIZE="4" maxlength="4" value="19xx" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')"><span id="birthdateStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Sex:</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
					<select class="HSquestion" NAME="sex">
						<option value="">&nbsp;</option>
						<option value="Female">Female</option>
						<option value="Male">Male</option>
					</select> <span id="genderStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">What is your weight?</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
                    <input class="HSquestion" NAME="weight" SIZE="5" maxlength="3" onKeyup="if(this.value.match(/[^0-9\.]/))this.value=this.value.replace(/[^0-9\.]/g,'')" > (in Kilograms) <span id="weightStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">What is your height?</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
					<select class="HSquestion" size="1" name="height">
						<option value="124">124cm</option>
						<option value="127">127cm</option>
						<option value="130">130cm</option>
						<option value="132">132cm</option>
						<option value="135">135cm</option>
						<option value="137">137cm</option>
						<option value="140">140cm</option>
						<option value="142">142cm</option>
						<option value="145">145cm</option>
						<option value="147">147cm</option>
						<option value="150">150cm</option>
						<option value="152">152cm</option>
						<option value="155">155cm</option>
						<option value="157">157cm</option>
						<option value="160">160cm</option>
						<option value="163">163cm</option>
						<option value="165">165cm</option>
						<option value="168" selected>168cm</option>
						<option value="170">170cm</option>
						<option value="173">173cm</option>
						<option value="175">175cm</option>
						<option value="178">178cm</option>
						<option value="180">180cm</option>
						<option value="183">183cm</option>
						<option value="185">185cm</option>
						<option value="188">188cm</option>
						<option value="190">190cm</option>
						<option value="193">193cm</option>
						<option value="196">196cm</option>
						<option value="198">198cm</option>
						<option value="201">201cm</option>
						<option value="203">203cm</option>
						<option value="206">206cm</option>
						<option value="208">208cm</option>
						<option value="211">211cm</option>
						<option value="213">213cm</option>
						<option value="216">216cm</option>
						<option value="218">218cm</option>
						<option value="221">221cm</option>
						<option value="223">223cm</option>
						<option value="226">226cm</option>
					</select> <span id="heightStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">What is your waist size?</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
          			<input class="HSquestion" type="text" name="waist" size="6" maxlength="3" onKeyup="if(this.value.match(/[^0-9\.]/))this.value=this.value.replace(/[^0-9\.]/g,'')"> inches <span id="waistStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext"><span class="HSbodytextbold">Enter either:</span><br>
			         Wrist circumference:<br>
			         Elbow breadth:</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">&nbsp;<br>
					<select class="HSquestion" size="1" name="wrist">
							  <option value="2">2&quot;</option>
							  <option value="2.125">2 1/8&quot;</option>
							  <option value="2.25">2 1/4&quot;</option>
							  <option value="2.375">2 3/8&quot;</option>
							  <option value="2.5">2 1/2&quot;</option>
							  <option value="2.625">2 5/8&quot;</option>
							  <option value="2.75">2 3/4&quot;</option>
							  <option value="2.875">2 7/8&quot;</option>
							  <option value="3">3&quot;</option>
							  <option value="3.125">3 1/8&quot;</option>
							  <option value="3.25">3 1/4&quot;</option>
							  <option value="3.375">3 3/8&quot;</option>
							  <option value="3.5">3 1/2&quot;</option>
							  <option value="3.625">3 5/8&quot;</option>
							  <option value="3.75">3 3/4&quot;</option>
							  <option value="3.875">3 7/8&quot;</option>
							  <option value="4">4&quot;</option>
							  <option value="4.125">4 1/8&quot;</option>
							  <option value="4.25">4 1/4&quot;</option>
							  <option value="4.375">4 3/8&quot;</option>
							  <option value="4.5">4 1/2&quot;</option>
							  <option value="4.625">4 5/8&quot;</option>
							  <option value="4.75">4 3/4&quot;</option>
							  <option value="4.875">4 7/8&quot;</option>
							  <option value="5">5&quot;</option>
							  <option value="5.125">5 1/8&quot;</option>
							  <option value="5.25">5 1/4&quot;</option>
							  <option value="5.375">5 3/8&quot;</option>
							  <option value="5.5">5 1/2&quot;</option>
							  <option value="5.625">5 5/8&quot;</option>
							  <option value="5.75">5 3/4&quot;</option>
							  <option value="5.875">5 7/8&quot;</option>
							  <option value="6">6&quot;</option>
							  <option value="6.125">6 1/8&quot;</option>
							  <option value="6.25">6 1/4&quot;</option>
							  <option value="6.375">6 3/8&quot;</option>
							  <option value="6.5">6 1/2&quot;</option>
							  <option value="6.625">6 5/8&quot;</option>
							  <option value="6.75">6 3/4&quot;</option>
							  <option value="6.875">6 7/8&quot;</option>
							  <option value="7">7&quot;</option>
							  <option value="7.125">7 1/8&quot;</option>
							  <option value="7.25">7 1/4&quot;</option>
							  <option value="7.375">7 3/8&quot;</option>
							  <option value="7.5">7 1/2&quot;</option>
							  <option value="7.625">7 5/8&quot;</option>
							  <option value="7.75">7 3/4&quot;</option>
							  <option value="7.875">7 7/8&quot;</option>
							  <option value="8">8&quot;</option>
							  <option value="8.125">8 1/8&quot;</option>
							  <option value="8.25">8 1/4&quot;</option>
							  <option value="8.375">8 3/8&quot;</option>
							  <option value="8.5">8 1/2&quot;</option>
							  <option value="8.625">8 5/8&quot;</option>
							  <option value="8.75">8 3/4&quot;</option>
							  <option value="8.875">8 7/8&quot;</option>
							  <option value="9">9&quot;</option>
							  <option value="9.125">9 1/8&quot;</option>
							  <option value="9.25">9 1/4&quot;</option>
							  <option value="9.375">9 3/8&quot;</option>
							  <option value="9.5">9 1/2&quot;</option>
							  <option value="9.625">9 5/8&quot;</option>
							  <option value="9.75">9 3/4&quot;</option>
							  <option value="9.875">9 7/8&quot;</option>
							  <option value="10">10&quot;</option>
							  <option value="10.125">10 1/8&quot;</option>
							  <option value="10.25">10 1/4&quot;</option>
							  <option value="10.375">10 3/8&quot;</option>
							  <option value="10.5">10 1/2&quot;</option>
							  <option value="10.625">10 5/8&quot;</option>
							  <option value="10.75">10 3/4&quot;</option>
							  <option value="10.875">10 7/8&quot;</option>
							  <option value="11">11&quot;</option>
							  <option value="0" selected>Not Measured</option>
				  		</select><br>
				  		<select class="HSquestion" size="1" name="elbow">
							<option value="1">1&quot;</option>
							<option value="1.125">1 1/8&quot;</option>
							<option value="1.25">1 1/4&quot;</option>
							<option value="1.375">1 3/8&quot;</option>
							<option value="1.5">1 1/2&quot;</option>
							<option value="1.625">1 5/8&quot;</option>
							<option value="1.75">1 3/4&quot;</option>
							<option value="1.875">1 7/8&quot;</option>
							<option value="2">2&quot;</option>
							<option value="2.125">2 1/8&quot;</option>
							<option value="2.25">2 1/4&quot;</option>
							<option value="2.375">2 3/8&quot;</option>
							<option value="2.5">2 1/2&quot;</option>
							<option value="2.625">2 5/8&quot;</option>
							<option value="2.75">2 3/4&quot;</option>
							<option value="2.875">2 7/8&quot;</option>
							<option value="3">3&quot;</option>
							<option value="3.125">3 1/8&quot;</option>
							<option value="3.25">3 1/4&quot;</option>
							<option value="3.375">3 3/8&quot;</option>
							<option value="3.5">3 1/2&quot;</option>
							<option value="3.625">3 5/8&quot;</option>
							<option value="3.75">3 3/4&quot;</option>
							<option value="3.875">3 7/8&quot;</option>
							<option value="4">4&quot;</option>
							<option value="4.125">4 1/8&quot;</option>
							<option value="4.25">4 1/4&quot;</option>
							<option value="4.375">4 3/8&quot;</option>
							<option value="4.5">4 1/2&quot;</option>
							<option value="4.625">4 5/8&quot;</option>
							<option value="4.75">4 3/4&quot;</option>
							<option value="4.875">4 7/8&quot;</option>
							<option selected value="0">Not Measured</option>
					</select>  <span id="wristStatus" ></span>
				  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Flexibility number</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
                    <input class="HSquestion" type="text" name="flexibility" size="7" maxlength="2" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')"> <span id="flexStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">30 second pulse rate</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
                    <input class="HSquestion" type="text" name="pulse_rate_30_seconds" size="7" maxlength="3" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')"> <span id="pulseStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Sit-up number</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
                    <input class="HSquestion" type="text" name="sit_up" size="7" maxlength="3" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')"> <span id="situpStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="HSbodytext">Push-up number</td>
                  <td>&nbsp;</td>
                  <td class="HSbodytextQ">
                    <input class="HSquestion" type="text" name="push_ups" size="7" maxlength="2" onKeyup="if(this.value.match(/[^0-9]/))this.value=this.value.replace(/[^0-9]/g,'')"> <span id="pushupStatus" ></span>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td></td>
                </tr>
               <tr>
                  <td><img src="images/global/trans.gif" height="5" width="1"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>
                    <input type="image" border=0 name="assess" value="assess" {$submit} onmousedown="doValidate=true;">
					<input type=hidden name="page" value="1">
					<input type="hidden" name="assessment" value="FIT">
					<input type=hidden name="output_format" value="HTML">
                    <input type=hidden value="Metric" name="units">
					<input type=hidden value="metric" name="qset">
                  </td>
                </tr>
              </table>
            </form>
            <!--Form and form table END here.-->
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td class="HSassessmentsGap"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td class="HScopyright">{$copyright}</td>
        </tr>
      </table>
      </div>
    <!-- Template: fit_metric_qset.tmpl End -->
{
# this is the standard footer for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$footer_file", PACKAGE => __PACKAGE__ );
}

