<html>
<head>
<title>Graphic Group Report</title>
<link rel="stylesheet" type="text/css" href="http://www.healthstatus.net/HSstyles/ggr_style.css"></head>
<body>
<h1>Graphic Group Report Query Check</h1>
<p>From your input:</p>
{$html_string}
<input type=hidden name="pgraphs" value="">
<input type=hidden name="print_totalassessments" value="">
<input type=hidden name="print_agegroups" value="">
<input type=hidden name="print_risklevels" value="">
<input type=hidden name="print_achievable" value="">
<input type=hidden name="print_preventable" value="">
<input type=hidden name="print_riskfactors" value="">
<input type=hidden name="print_cardiac" value="">
<input type=hidden name="print_diabetes" value="">
<input type=hidden name="print_fitness" value="">
<input type=hidden name="print_wellbeing" value="">
<input type=hidden name="print_alcohol" value="">
<input type=hidden name="print_bloodpressure" value="">
<input type=hidden name="print_cholesterol" value="">
<input type=hidden name="print_exercise" value="">
<input type=hidden name="print_mammogram" value="">
<input type=hidden name="print_pap" value="">
<input type=hidden name="print_prostate" value="">
<input type=hidden name="print_seatbelts" value="">
<input type=hidden name="print_smoking" value="">
<input type=hidden name="print_print_wellbeing2" value="">
<input type=hidden name="print_srdisease" value="">
<input type=hidden name="print_srfam" value="">
<input type=hidden name="print_weight" value="">
<input type=hidden name="pdf_name" value="">
<input type=hidden name="user_footer" value="">
<input type=hidden name="max" value="">
<input type=submit" value="Process now">
</form>
</body>
</html>