{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}assessment_language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}gha_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$header_file", PACKAGE => __PACKAGE__ );
}       <!-- Template: gha_2.tmpl -->
	<!-- Templates called: gha_variables.tmpl, gha_links.tmpl, {$footer_file}, {$config{variables_template}},  {$header_file} -->
<!-- ass-top-img section start here-->
<div id="ass-top-img" class="steptxt">
<p class="pad26">{$gha_title}</p>
</div>
<!-- ass-top-img section end here-->

<div id="ass-bg" class="content">
<p class="pad27">
{$lang{gha_intro}{$current_language}}
</p>
</div> 

<!-- risk-top-img section start here-->
<div id="risk-top-img" class="steptxt">

<p class="pad26">{$gha_subtitle} {$continued}</p>
</div>
<!-- risk-top-img section end here-->


<p><img src="images/ass_06.jpg" alt="" /></p> 

<br/>
<div id="risk-bg">
<table width="967" cellspacing="0" style="margin-left: 30px">

  <tr>
  <td style="padding-top: 8px; padding-bottom: 10px; padding-right: 70px;" class="content">
  <form method="post" action="{$pager}">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" >
                  <p><b>{$date} {$lang{for}{$current_language}} {$name}</b></p><br>
                  <p >{$lang{gha_msg1}{$current_language}} {$wellness}.</p><br>
      			<img src="{$wellness_bar}" border=0 align=center><br></p><br>
      		  <p >{$Wellness}</p>
		  <table width=489 align=top border=0 cellspacing="0" cellpadding="0">
		      <tr>
			<td width=430 valign=top ><p><span><b>{$lang{gha_msg2}{$current_language}}</b></span></p><br>
					  <UL>{ foreach $i (@good_habits) {
						    $OUT .= "<li>$i</li>";
						  }
						}</UL></td><br>
        		<td width=228 valign=top ><p><span><b>{$lang{gha_msg3}{$current_language}}</b></span></p><br>
					  <UL>{ foreach $i (@bad_habits) {
							$OUT .= "<li>$i</li>";
							}
						}</UL></td>
		      </tr>
		  </table><br>
      		  <p><b>{$WeightLine}</b></p><br>
      		  <table width=456 align=top border=0 cellspacing="0" cellpadding="0">
      			<tr>
      			  <td width=456 ><p><b>{$lang{gha_msg4}{$current_language}} {$genders}.</b></p>
      			     {$risks_short}</p>
      			  </td>
      			</tr>
      		  </table>
		  <p>&nbsp;</p>
		</td>
              </tr>
              <tr>
				<td width=200><input type="image" border=0 name="gha_1.tmpl" value="gha_1.tmpl" src="images/global/back.jpg"></td>
				<td width=767 style="padding-top: 8px; padding-bottom: 10px;  text-align:right">
				<input type="image" border=0 name="gha_3.tmpl" value="gha_3.tmpl" src="images/global/next.jpg">
				<input type="hidden" name="language" value="$hidden_language">
				</td>
				<td>&nbsp;</td>
            </tr>   
            </table></form>
  
  
  
  
</td>
</tr>
          
</table>
</div>
    <!-- Template: gha_2.tmpl End -->
{
# this is the standard footer for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$footer_file", PACKAGE => __PACKAGE__ );
}
