<p>Your Personalized General Health Assessment<br>{$bold_on}{$date}{$bold_off}</p>
<p>Dear {$bold_on}{$name}:{$bold_off}</p>
<p>The following report is an educational tool designed to identify health risk factors you can control and provide you with suggestions for making positive lifestyle changes.</p>
<p>However, this evaluation is not a substitute for a health exam from a physician, and it can't identify a specific medical problem. It can only show you how you can avoid the most common causes of illnesses and injuries for a person of your age and gender. Please see a health professional for further advice.</p>
<p>{$fact} This report will stress the things that you can control.</p>
<p>Average rates for illnesses and conditions are based on data gathered from the Centers for Disease Control and Prevention. They reflect current health patterns, medical practices, and environmental conditions and are adjusted based on personal information you entered. These risks are based on data and formulas from researchers at the Carter Center of Emory University's Healthier People Project, with technical support from 25 other major health agencies.</p>
<p>Read your report carefully, and if you have questions, contact your doctor or a health professional who can help you understand the results. If you want to show the results to your doctor, print out the page titled "Chart Report."</p>
<p>Thank you,</p><p>{$bold_on}{$client_web_signature}{$bold_off}</p>
<p>&nbsp; </p>
