<p>{$lang{Personalized_General_Health}{$current_language}}<br>{$bold_on}{$date}{$bold_off}</p>
<br>
<p>{$lang{Dear}{$current_language}} {$bold_on}{$name}:{$bold_off}</p>
<p>{$lang{educational_tool_designed}{$current_language}}</p><br>
<p>{$lang{evaluation_is_not_a_substitute}{$current_language}}</p>
<p>{$fact} {$lang{crc_fact_msg6}{$current_language}}</p><br>
<p>{$lang{Average_rates_illnesses_conditions}{$current_language}}</p><br>
<p>{$lang{Read_your_report_carefully}{$current_language}}</p><br>
<p>{$lang{Thank_you}{$current_language}},</p><br><p>{$bold_on}{$client_web_signature}{$bold_off}</p><br>
<p>&nbsp; </p>
