{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}assessment_language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}gha_variables.tmpl", PACKAGE => __PACKAGE__ );
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Template: assessment_recs_header.tmpl -->
<head>
<title>Welcome to {$client} Internet Assessments</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="abstract" content="" />
<meta name="classification" content="" />
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="7 days" />
<meta name="rating" content="general" />
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="Copyright &copy; 2011 healthstatus.com" />
<meta name="copyright" content="Copyright &copy; 1998-2011 healthstatus.com" />
<base href="{$base}" />
<link rel="stylesheet" type="text/css" href="/include/internet_tmp.css" />
<script language="JavaScript" src="/include/master.js"></script>
<script language="javascript" src="{$hs_java}"></script>
<link rel="stylesheet" href="/styles/lightwindow.css" type="text/css" />
<script type="text/javascript" src="/styles/prototype.js"></script>
<script type="text/javascript" src="/styles/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="/styles/lightwindow.js"></script>
</head>  
<body>
	<!-- Template: select_language_lightwindow.tmpl -->
	<!-- Templates called: gha_variables.tmpl, gha_links.tmpl, {$footer_file}, {$config{variables_template}},  {$header_file} -->

<div>
<p>
<span>Select Language</span><br>
{	my $html;
	if ($output_format eq 'PDF'){
		$html .= qq|<a href="$review?status=retake&assessment=$assessment&xnum=$xnum&output_format=PDF&language=spanish">[Espanol]</a>
				&nbsp;&nbsp; <a href="$review?status=retake&assessment=$assessment&xnum=$xnum&output_format=PDF">[English]</a> |;
	}else{
		$html .= qq|<a href="$review?status=retake&assessment=$assessment&xnum=$xnum&language=spanish">[Espanol]</a>
				&nbsp;&nbsp; <a href="$review?status=retake&assessment=$assessment&xnum=$xnum">[English]</a>|;
	}
	$html;
}
<input type="hidden" name="language" value="">
</div>
</body>
</html>
	<!-- Template: select_language_lightwindow.tmpl End -->

