<html>

<head>
<meta HTTP-EQUIV="REFRESH" CONTENT="0; URL={$html_home}{$logout_page}">
<title></title>
<base href="{$base}">
<link rel="stylesheet" href="{$styles}" type="text/css">

</head>


<body>

<p align="center"><br>
<strong>Your session timed out, returning you to home page...</strong>
</p>

<p align="center"><strong>or you may click</strong><br>
</p>

<h3 align="center"><a href="{$html_home}{$login_page}"><big>here to login</big></a></h3>
</body>
</html>
