{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( $directory . $input_variables, PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file($directory . $header_file, PACKAGE => __PACKAGE__ );
}

<!-- your next step section start here-->
<div id="title" class="steptxt">
<p class="pad17">{$title}</p>
</div>

<div class="content" style="margin-left: 5px; background-color:#ffffff">
<p class="pad29">{$intro}</p></div>

<div id="step-inn-bg" class="content1">
<table width="406" cellspacing="0" style="margin-left: 30px">
<form action="{$cgi}calculator.cgi" name="theForm" method="POST" onSubmit="return checkCalcForm(this)">
      <tr>
        <td class="lb2" width="300" style="padding-top: 10px; padding-right: 20px">{$lang{$current_language}{expect_your_next_menstrual}}</td>
        <td width="200" style="padding-top: 10px">
					<select name="day" size="1">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
		  			</select>
					<select name="month" size="1">
							<option value="01">Ocak</option>
							<option value="02">Subat</option>
							<option value="03">Mart</option>
							<option value="04">Nisan</option>
							<option value="05">Mayis</option>
							<option value="06">Haziran</option>
							<option value="07">Temmuz</option>
							<option value="08">Agustos</option>
							<option value="09">Eylül</option>
							<option value="10">Ekim</option>
							<option value="11">Kasim</option>
							<option value="12">Aralik</option>
					</select>
		  			<input NAME="year" SIZE="4" maxlength="4" value="20xx">
		</td>
      </tr>
      <tr>
        <td class="lb2" width="300" style="padding-top: 10px; padding-right: 20px">{$lang{$current_language}{average_first_day_of_one_period}}</td>
        <td width="90" style="padding-top: 10px"><select name="days_in_cycle" size="1">
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="32">36</option>
							<option value="33">37</option>
							<option value="34">38</option>
							<option value="35">39</option>
		  			</select></td>
      </tr>
      <tr>
        <td><a href="/cgi-bin/hs/calc.cgi?calc=men" class="btn_input" align="left">YEMEK LISTESI</a></td>

        <td style="padding-top: 8px; padding-bottom: 10px">
        	    <input name="Submit" type="image" class="HSButton" src="https://hemensaglik.hra.net/images/hemensaglik_calculate.jpg" /></td>
				<input type="hidden" name="measure" value="Metric">
				<input type="hidden" name="calculator" value="ova">
				<input type="hidden" name="snum" value="{$snum}">
        <td>&nbsp;</td>
      </tr>
	  </form>
    </table>
</div>
<!-- your next step section end here-->
{
# this is the standard header for the assessment output.
Text::Template::fill_in_file($directory . $footer_file, PACKAGE => __PACKAGE__ );
}