
%question = (
	age => 	{ 
		type => 'number',
		low  => 13,
		high  => 90,
		label =>	{
				en => 'Enter your age:',
				de => 'Geben Sie Ihr Alter ein:',
				cy => 'Rhowch eich oedran:',
				es => 'Ingrese su edad:',
				fr => 'Saisissez votre âge :',
				it => 'Inserire l'età:',
				ja => '',
				nl => 'Voer uw leeftijd in:',
				pt => 'Insira sua idade:',
				zh => '',
				tzh => '',
				sv => 'Ange din ålder:',
				no => 'Skriv inn din alder:',
				ko => '',
				},
		},
	gender => 	{ 
		type => 'select',
		options  => 	{
				show => {
					en => 'Female|Male',
					de => 'Weiblich|Männlich',
					cy => 'Menyw|Dyn',
					es => '',
					fr => '',
					it => '',
					ja => '',
					nl => '',
					pt => '',
					zh => '',
					tzh => '',
					sv => '',
					no => '',
					ko => '',
					},
				return => {
					en => 'Female|Male',
					de => 'Female|Male',
					cy => 'Female|Male',
					es => 'Female|Male',
					fr => 'Female|Male',
					it => 'Female|Male',
					ja => 'Female|Male',
					nl => 'Female|Male',
					pt => 'Female|Male',
					zh => 'Female|Male',
					tzh => 'Female|Male',
					sv => 'Female|Male',
					no => 'Female|Male',
					ko => 'Female|Male',
					},
				},
			},
		label =>	{
				en => 'Select your gender:',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	weight => 	{ 
		type => 'number',
		low  => 50,
		high  => 800,
		label =>	{
				en => 'Enter your weight:',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	height => 	{ 
		type => 'select',
		label =>	{
				en => 'Select your height:',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	waist => 	{ 
				en => 'Waist size at narrowest point:',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	hip => 	{ 
				en => 'Hip size at widest point',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	neck => 	{ 
				en => 'Neck at narrowest point',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	beverage => 	{ 
				en => 'Select the beverage?',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	how_many => 	{ 
				en => 'How many of them?',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	timespan => 	{ 
				en => 'What time span?',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	);
%answer = (
	BAC => 	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	);
%headings = (
	BAC => 	{ 
		title =>	{
				en => 'Blood Alcohol Estimation',
				de => 'Blutalkoholgehaltschätzung',
				cy => 'Amcangyfrif Alcohol yn y Gwaed',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	BMI => 	{ 
		title =>	{
				en => 'Body Mass Index',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	BFC => 	{ 
		title =>	{
				en => 'Body Fat Estimator',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	CBC => 	{ 
		title =>	{
				en => 'Calories Burned',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	DEE => 	{ 
		title =>	{
				en => 'Daily Energy Expenditure',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	FSZ => 	{ 
		title =>	{
				en => 'Frame Size',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	IWC => 	{ 
		title =>	{
				en => 'Ideal Weight Calculator',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	LMB => 	{ 
		title =>	{
				en => 'Lean Body Mass',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	LOP => 	{ 
		title =>	{
				en => 'Lose One Pound',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	OVU => 	{ 
		title =>	{
				en => 'Ovulation Estimator',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	SMC => 	{ 
		title =>	{
				en => 'Smoking Costs',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	THR => 	{ 
		title =>	{
				en => 'Target Heart Rate',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	WTH => 	{ 
		title =>	{
				en => 'Waist to Hip Ratio',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	MEN => 	{ 
		title =>	{
				en => 'Menu',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		subtitle =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		intro =>	{
				en => '',
				de => '',
				cy => '',
				es => '',
				fr => '',
				it => '',
				ja => '',
				nl => '',
				pt => '',
				zh => '',
				tzh => '',
				sv => '',
				no => '',
				ko => '',
				},
		},
	);


	