<html>
<head>
<title>Health Calculators</title>
	<base href="https://optum.healthstatus.com">
	<link rel="stylesheet" type="text/css" href="/include/styles.css" />
	<link rel="stylesheet" href="{$styles}" type="text/css">
	<SCRIPT LANGUAGE="JavaScript">
	<!--begin
	function popuphelp(filename)\{
	var centerWidth=(screen.width/2)-(500/2);
	var centerHeight=(screen.height/2)-(380/2);
	window.open(filename, "","height=380,width=550,top="+centerHeight+",left="+centerWidth+",location=no,menubar=no,resizable=yes,scrollbars=no,status=no,titlebar=no,toolbar=no,directories=no");
	\}
	// end -->
	</SCRIPT>
	<SCRIPT LANGUAGE="JavaScript1.2" src="{$hs_java}"></script>
	<SCRIPT LANGUAGE="JavaScript1.2">popup({$popup})</script>
	<script type="text/javascript">
		//<!--
	         laww_close = new Image(); laww_close.src = "/images/external/b_close.gif";
	         laww_close_over = new Image(); laww_close_over.src = "/images/external/b_close_over.gif";
		//-->
	</script>
</head>
<body bgcolor="#ffffff">
<div align=center>
<table cellspacing="0" cellpadding="0" border="0" width="500">
	<tr>
	    <td bgcolor="#000033"><img src="images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
	    <td bgcolor="#000033"><img src="images/spacer.gif" width="498" height="1" border="0" alt="" /></td>
	    <td bgcolor="#000033"><img src="images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
	  </tr>
	  <tr>
	    <td bgcolor="#000033"><img src="images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
	    <td bgcolor="#ffffff" align="center" valign="top">
			<!-- laww logo -->
			<table cellspacing="0" cellpadding="0" border="0" width="498">
		        <tr>
	                <td></td>
	                <td valign="bottom" align="right"><a href="javascript:window.close()" onmouseover="document.images['lawwImgClose'].src=laww_close_over.src" onmouseout="document.images['lawwImgClose'].src=laww_close.src"><img src="images/b_close.gif" width="92" height="18" alt="" border="0" name="lawwImgClose" id="lawwImgClose" /></a></td>
		        </tr>
 		        <tr><td colspan="2" background="images/border_bg.gif" align="right"><img src="images/border_right.gif" width="87" height="14" alt="" border="0" /></td></tr>
		        <tr><td colspan="2"><img src="images/spacer.gif" width="1" height="10" alt="" border="0" /></td></tr>
			</table>
			<!-- /laww logo -->

			<!-- body -->
			<table cellspacing="0" cellpadding="0" border="0" width="498">
				<tr>
					<td>
						  <table border="0" cellspacing="0" cellpadding="0" width="90%" align="center">
						  	<tr>
								<td>
					