						  		</td>
							</tr>
						</table><div class="calc_quest">
						{ my $html; 
						  if(uc $calc eq 'MEN') {
						  	$html = ''; }
						  elsif(uc $calc eq 'BAC') {
						   	$html = 'Computing a BAC Estimate. Driving under the Influence October 1992. U.S. Department of Transportation'; }
						  elsif(uc $calc eq 'BFC') {
						   	$html = 'The YMCA Guide to Physical Fitness Assessement'; }
						  elsif(uc $calc eq 'BFN') {
						   	$html = 'Created by the U.S. Navy'; }
						  elsif(uc $calc eq 'BMI') {
						   	$html = 'Adolphe Quetelet (1796-1874)"the average man and indices of obesity". Nephrology Dialysis Transplantation 23 (1): 47-51'; }
						  elsif(uc $calc eq 'CBC') {
						   	$html = 'Exercise and Your Heart -- A Guide to Physical Activity. National Heart, Lung, and Blood Institute / American Heart Association, DHHS, PHS, NIH Publication No. 93-1677.'; }
						  elsif(uc $calc eq 'DEE') {
						   	$html = 'Mifflin MD, St Jeor ST, et al. A new predictive equation for resting energy expenditure in healthy individuals. Am J Clin Nutr. 1990; 51: 241-247'; }
						  elsif(uc $calc eq 'FSZ') {
						   	$html = '1983 Metropolitan height and weight tables. Stat Bull Metrop Insur Co. Jan-June 1983;64:2-9'; }
						  elsif(uc $calc eq 'IWC') {
						   	$html = 'Ewald G, McKenzie C (editors). Manual of Medical Therapeutics, 28th edition. Little, Brown and Company. 1995. page 30 ("Hamwi method")'; }
						  elsif(uc $calc eq 'LBM') {
						   	$html = 'Hume R. Prediction of lean body mass from height and weight. J Clin Path. 1966; 19:389-391'; }
						  elsif(uc $calc eq 'LOP') {
						   	$html = 'Exercise and Your Heart -- A Guide to Physical Activity. National Heart, Lung, and Blood Institute / American Heart Association, DHHS, PHS, NIH Publication No. 93-1677'; }
						  elsif(uc $calc eq 'SMC') {
						   	$html = 'Created by HealthStatus.com, Inc.'; }
						  elsif(uc $calc eq 'THR') {
						   	$html = 'Rimmer JH. Fitness and Rehabilitation Programs for Special Populations. WCB Brown & Benchmark Publishers. 1994'; }
						  elsif(uc $calc eq 'WHR') {
						   	$html = 'Jonas, S. Weight management. Health Promotion and Disease Prevention in Clinical Practice.  Woolf S.H. et al (ed). 1995'; }
						  else {	
						  	$html = ''; }
						  	$html;}</div>
					</td>
				</tr>
			</table>
			<!-- /body -->

        </td>
		<td bgcolor="#000033"><img src="images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
	</tr>
	<tr>
	    <td bgcolor="#000033"><img src="images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
	    <td bgcolor="#000033"><img src="images/spacer.gif" width="498" height="1" border="0" alt="" /></td>
	    <td bgcolor="#000033"><img src="images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
	</tr>
</table>
</div>
</body>
</html>