<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Template: min_header.tmpl -->
<head>
<title>Welcome to {$client} - {$title}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="abstract" content="" />
<meta name="classification" content="" />
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="7 days" />
<meta name="rating" content="general" />
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="Copyright &copy; 2011 healthstatus.com" />
<meta name="copyright" content="Copyright &copy; 2011 healthstatus.com" />
<base href="{$base}" >
<link rel="stylesheet" type="text/css" href="/include/internet_tmp.css" />
<SCRIPT LANGUAGE="JavaScript1.2" src="/styles/hs_calc_validate.js"></script>
<SCRIPT LANGUAGE="JavaScript1.2">popup({$popup})</script>
<SCRIPT LANGUAGE="javascript" src="{$hs_tracking}"></script>
<script language="JavaScript">
<script type="text/javascript">
function unhide() \{
 var item = document.getElementById('header-inn');
 if (item) \{
 item.className=(item.className=='hidden')?'unhidden':'hidden';
 \}
 var item1 = document.getElementById('header');
 if (item1) \{
 item1.className=(item1.className=='hidden')?'unhidden':'hidden';
 \}
 \}
 </script></script>

</head>

<body>

<!-- main section start here-->
<div id="main">	

<!-- header-spc section start here-->
<div id="header-spc">	
</div>
<!-- header-spc section end here-->

<!-- header section start here-->
<div id="header" class="hidden">
</div>
<!-- header section end here-->


<div id="header">
<div id="logo_calc">
{ my $html;
	  print STDERR "\ntemplatecookie is=====$cookie";
	  if($cookie){
	       $html = qq|<div id="header-right">
						<p class="pad1">
						<a href="/cgi-bin/hs/assessment_recs.cgi"><img alt="" src="images/but_07.jpg"></a>
						<a href="/cgi-bin/hs/register.cgi?action=update&amp;siteid="><img alt="" src="images/but_09.jpg"></a>
						<a href="/cgi-bin/hs/register.cgi?action=update_pass&amp;siteid="><img alt="" src="images/but_11.jpg"></a>
						<a href="/cgi-bin/hs/logout.cgi"><img alt="" src="images/but_13.jpg"></a>
						</p>
						</div>|;
       }else{
	       $html = qq|<div id="header-right-inn" style="height:120px"><form method="post" action="/cgi-bin/hs/register.cgi" name="theForm1" onSubmit="return checkLoginForm(this)">
						<p class="pad19"><span class="alreadytxt">Already a member? Login Here</span></p>
						<p class="pad20"><span class="usernametxt">User Name</span> <input type="text" name="db_id" class="textBox1" size="20" /></p>
						<p class="pad21"><span class="usernametxt">Password</span> &nbsp;<input type="password" name="auth_password_entry" class="textBox1" size="20" /></p>
						<p class="pad22"><u><a href="/cgi-bin/hs/register.cgi?action=lookup&amp;render=1&amp;siteid={$siteid}" class="forgot_link">Retrieve your password or user name?</a></u> &nbsp;&nbsp;<input type="image" name="login" src="images/submit-log_07.jpg"  align="absmiddle" alt="" /><input type="hidden" name="action" value="login" /></p></form>
						</div>|;
	   }
 }	

<p class="pad2"><a href="{$base}"><img height="95" alt="" src="{$brand_logo}" /></a></p>
</div>
</div>

<!-- top-menu section start here-->
<div id="top-menu">

<div id="menu-left">

<div id="menu-right">
<ul id="nav">
      <li class="top"><a href="/cgi-bin/hs/calc.cgi?calc=men" class="top_link"><img src="images/drop-more_17.jpg" alt="" /></a>
          <ul class="sub">
            <li><a href="/cgi-bin/hs/calc.cgi?calc=bac">&raquo; Blood Alcohol Estimation</a></li>
            <li><a href="/cgi-bin/hs/calc.cgi?calc=dee">&raquo; Daily Energy Expenditure</a></li>
            <li><a href="/cgi-bin/hs/calc.cgi?calc=due">&raquo; Due Date Calculator</a></li>
            <li><a href="/cgi-bin/hs/calc.cgi?calc=cbc">&raquo; Calories Burned</a></li>
            <li><a href="/cgi-bin/hs/calc.cgi?calc=fsz">&raquo; Frame Size</a></li>
            <li><a href="/cgi-bin/hs/calc.cgi?calc=lbm">&raquo; Lean Body Mass</a></li>
            <li><a href="/cgi-bin/hs/calc.cgi?calc=lop">&raquo; Lose One Pound</a></li>
            <li><a href="/cgi-bin/hs/calc.cgi?calc=ova">&raquo; Ovulation Estimator</a></li>
            <li><a href="/cgi-bin/hs/calc.cgi?calc=smc">&raquo; Smoking Costs</a></li>
            <li><a href="/cgi-bin/hs/calc.cgi?calc=whr">&raquo; Waist to Hip Ratio</a></li>
          </ul>
      </li>
    </ul>
</div>

<div id="horiz-menu" class="moomenu">
	<ul style="overflow: visible;" class="menutop">
	{ my $html;
	  
	  if($cookie){ 
	       $html = qq|<li class="item104 top-menu-1"><a class="topdaddy link" href="/cgi-bin/hs/calc.cgi?calc=bmi"><span>Body Mass Index</span></a></li>|;
       }else{
	       $html = qq|<li class="item132 parent top-menu-3"><a style="position: relative;" class="topdaddy link" href="/cgi-bin/hs/register.cgi?action=log"><span>New User Registration</span></a></li>|;
	   }
    }	
	
	<li><img src="images/dvid-lin_15.jpg" alt="" /></li>
	<li class="item104 top-menu-2"><a class="topdaddy link" href="/cgi-bin/hs/calc.cgi?calc=bfb"><span>Body Fat Estimator</span></a>	
	</li>
	<li><img src="images/dvid-lin_15.jpg" alt="" /></li>
	<li class="item89 parent top-menu-4"><a style="position: relative;" class="topdaddy link" href="/cgi-bin/hs/calc.cgi?calc=iwc"><span>Ideal Weight</span></a>	
	</li>
	<li><img src="images/dvid-lin_15.jpg" alt="" /></li>
	<li class="item132 parent top-menu-3"><a style="position: relative;" class="topdaddy link" href="/cgi-bin/hs/calc.cgi?calc=thr"><span>Target Heart Rate</span></a>	
	</li>
	<li><img src="images/dvid-lin_15.jpg" alt="" /></li>
	<li class="item132 parent top-menu-3"><a style="position: relative;" class="topdaddy link" href="/cgi-bin/hs/calc.cgi?calc=whr"><span>Waist to Hip Ratio</span></a>	
	</li>
	</ul>			
</div>
</div>

</div>
<!-- top-menu section end here-->

<!-- banner-spc section start here-->
<div id="banner-spc">
</div>
<!-- banner-spc section end here-->

<!-- banner section start here-->
<div id="banner">
{my $html;
if(uc $calc eq 'WHR' || uc $calc eq 'THR' || uc $calc eq 'BFB' || uc $calc eq 'BFN' || uc $calc eq 'BFC' || uc $calc eq 'BMI' || uc $calc eq 'DEE'){ $html = qq|<img src="images/global/calc2.jpg" alt="" />|; }
elsif(uc $calc eq 'OVA' || uc $calc eq 'DUE' || uc $calc eq 'LOP' || uc $calc eq 'BAC' || uc $calc eq 'SMC'){ $html = qq|<img src="images/global/calc3.jpg" alt="" />|; }
else { $html = qq|<img src="images/global/calc1.jpg" alt="" />|; }

$html;
}
</div>
<!-- banner section end here-->

<!-- banner-botspc section start here-->
<div id="banner-botspc">
</div>
<!-- banner-botspc section end here-->

<!-- center section start here-->
<div id="center">
<table cellspacing="0" width="967">
<tr>
<td valign="top" width="647" style="background-image:url(images/inn_10.jpg); background-position:left top; background-repeat:repeat-y">
<!-- center-left section start here-->
<div id="center-left">
