<!-- Template: assessment_footer.tmpl -->
</div>
<!-- center-left section end here-->
</td>
<td valign="top" width="320" background="images/healthstatus_22.jpg">
<!-- center-right section start here-->
<div id="center-right">

{$directions}

<!-- license our tools section start here-->
<div id="license-topimg" class="licensetxt">
<p class="pad9">Instructions</p>
</div>

<div id="license-bg" class="rightcontent">
<p class="pad10">  
{my $html; 
if($assessment){
	$html = qq|Our assessments are user friendly and focus on the areas where you can make changes.  Acccurately complete as much information as you can, the more details we have the better our recommendations will be.|;
	}
elsif($assessment_recs){
	$html = qq|This is the assessment records page.  You can select to take an assessment by clicking on the name of the assessment in the left side section.  If you have previously taken assessments, they will be listed above and you can click to review those previous results.|;
	}
elsif($config{show_instruction}){
    $html = qq| $config{show_instruction_msg} |;
}	
else{
	$html = qq|If this is your first visit you will need to complete the registration section.  The registration number should have been provided to you by someone in your organization.  The other information you will provide, create your own user id and password.  Please remember these as they will be needed when you access the system in the future.|;
	} 
$html;}
</p>
</div>
<!-- license our tools section end here-->

<!-- helpful links section start here-->
<div id="helpful-bg">
</div>
<!-- helpful links section end here-->


</div>
<!-- center-right section end here-->
</td>
</tr>
</table>
</div>
<!-- center section end here-->

<!-- footer-menu section start here-->
<div id="hsfooter-menu" class="hsfooter_link">
</div>
<!-- footer-menu section end here-->

<!-- footer section start here-->
<div id="hsfooter" class="copyTxt">
<p class="pad16">
Copyright &copy; 1998-2012 HealthStatus.com, Inc., All rights reserved.
</p>
</div>
<!-- footer section end here-->


			</div>
			</div>
			<div class="content-btm"></div>
			<!-- // content -->
		</div>
		<!-- // canvas -->
		<!-- footer -->

		<div class="footer-content">

		<br />

		<div class="container_12">

			<div class="grid_1">

				<a href="http://www.healthjibe.com/account/manage">Account</a>

			</div>

			<div class="grid_1">

				<a href="http://www.healthjibe.com/ui/terms">Terms</a>

			</div>

			<div class="grid_1">

				<a href="http://www.healthjibe.com/ui/privacy">Privacy</a>

			</div>

			<div class="grid_1 prefix_1">

				<img src="/images/healthjibe/Seal-CW.png" alt="URAC Seal" />

			</div>

			<div class="grid_2">

				<a href="http://www.allegeant.net" target="_blank"><img src="/images/healthjibe/Allegeant_Logo_Transparent.png" alt="Allegeant Logo" /></a>

			</div>

			<div class="grid_1">

				<a href="https://twitter.com/healthjibe">

					<img src="https://www.healthjibe.net/content/images/bg_twitter.png" alt="Follow us on Twitter" style="float:right" /></a>

			</div>

			<div class="grid_4">

				<div class="grid_2 alpha">

					<a href="http://www.healthjibe.com/popup/status" rel="prettyPopin">Platform Status</a><br />

				</div>

				<div class="grid_3 alpha">

					

				</div>

				<div class="grid_2 alpha">

					Version:&nbsp; 2.5

				</div>

			</div>

			<div class="grid_12">

				<center>

					<p>

						All trademarks used throughout this website are the property of their respective

						owners.</p>

				</center>

			</div>

		</div>

	</div>

		<!-- // footer -->

	</div>

	<!-- // container -->

	

	<script type="text/javascript">

		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "https://www.");

		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

	</script>

	<script type="text/javascript">

		try {

			var pageTracker = _gat._getTracker("UA-15674353-1");

			pageTracker._trackPageview();

		} catch (err) { }</script>

	

	<!-- other content -->

	

</body>

</html>
