<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Template: assessment_header.tmpl -->
<head>
<title>Welcome to {$client} Internet Assessments</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="abstract" content="" />
<meta name="classification" content="" />
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="7 days" />
<meta name="rating" content="general" />
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="Copyright &copy; 2011 healthstatus.com" />
<meta name="copyright" content="Copyright &copy; 1998-2011 healthstatus.com" />
<base href="{$base}" />
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/healthjibe/layout.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/healthjibe/text.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/healthjibe/styles.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/healthjibe/engagement.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/healthjibe/960_12_col.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/healthjibe/formalize.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/styles/healthjibe/prettyPopin.css" />
	<meta name="verify-v1" content="6Eys1IAi78cv5V1J8ZbjB+mvfEi/A3kWhvApreXofFs=" />
	<meta name="google-site-verification" content="DoG0ECVqhd_JJ8Tjb9P-IojZouIaicDVdbe_XcU1bOs" />	
	<title>	HealthJibe&trade;-- Connected Health Meets Accountable Care</title>
	<link rel="shortcut icon" href="images/healthjibe/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
	<script type="text/javascript" src="/styles/healthjibe/jquery.formalize.min.js"></script>
	<script type="text/javascript" src="/styles/healthjibe/jquery.prettyPopin.js" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function () \{
			$("a[rel^='prettyPopin']").prettyPopin(
            \{ width: 704, height: 500 \}
            );
		\});
	</script>
	<link type="text/css" href="/styles/healthjibe/telerik.common.min.css" rel="stylesheet"/>
<link type="text/css" href="/styles/healthjibe/telerik.vista.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/styles/healthjibe/internet_tmp.css" />
<SCRIPT LANGUAGE="javascript" src="{$hs_java}"></script>
</head>

<body>

	<!-- container -->
	<div class="container">
		<!-- header -->
		<div class="header">
			<div class="top-nav">
				<h1></h1>
				<a href="http://www.healthjibe.com/ui/default" id="logo-click"></a>
				<ul class="nav">
					<li>
						<a href="http://www.healthjibe.com/HealthSummary/DashBoard" title="Display Health Dashboard">My Dashboard</a></li>
					<li>
						<a href="http://www.healthjibe.com/UI/Connections" title="Manage my device and service connections">Connect</a></li>
					<li>
						<a href="http://www.healthjibe.com/account/signoff" title="Sign off HealthJibe">Sign off</a></li>
				</ul>
			</div>
	<div class="page-title">
		<h3>Health Risk Assessment</h3>
		<ul class="nav">
			<li><a href="/cgi-bin/hs/assessment_recs.cgi" title="Health Risk Assessments Main">Back</a></li>
		</ul>
	</div>
		</div>
		<!-- // header -->
		<!-- canvas -->
		<div class="canvas">
			<!-- content -->
			<div class="content-top">
			</div>
			<div class="col-content clearfix">
	<div class="colleft">
	<center>
		<div class="validation-summary-errors">
		</div>
		<div class="validation-summary-success">
		</div>
		<div class="validation-summary-warning">
		</div>
	</center>
<!-- center section start here-->
<div id="center">
