<html>

<head>
<meta HTTP-EQUIV="REFRESH" CONTENT="0; URL={$config{logout_page}}">
<title></title>
<base href="{$base}">
<link rel="stylesheet" href="{$styles}" type="text/css">

</head>


<body>

<p align="center"><br>
<strong>Your session timed out, returning you to a login screen, one moment.</strong>
</p>

</body>
</html>
