<!--Name: assessment_in_header.tmpl, -->
<html>
<head>
<title>{$title} </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<base href="https://base1.hra.net/">
<link rel="stylesheet" href="{$styles}" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-889474-1']);
  _gaq.push(['_setDomainName', 'healthstatus.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type='text/javascript'>
(function() \{
var useSSL = 'https:' == document.location.protocol;
var src = (useSSL ? 'https:' : 'http:') +
'//www.googletagservices.com/tag/js/gpt.js';
document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
\})();
</script>

<script type='text/javascript'>
{my $html; my $content;

if(uc $calc eq 'ADULTSR'){
	$content = qq|ADD Attention Deficit|;
	}
elsif(uc $calc eq 'ALCOHOL'){
	$content = qq|Depression-Stress|;
	}
elsif(uc $calc eq 'EDISORDER'){
	$content = qq|Eating Disorder|;
	}
elsif (uc $calc eq 'LBW')	{
	$content = qq|Back-Shoulder-Joints|;
	}
elsif (uc $calc eq 'DMDI')	{
	$content = qq|Depression-Stress|;
	}
elsif (uc $calc eq 'COPDDX')	{
	$content = qq|COPD|;
	}
else	{
	$content = qq||;
	}
$html = "googletag.pubads().setTargeting('Content', ['".$content."']);" if $content;
$html;
}
googletag.pubads().setTargeting('UGC', 'n');
googletag.pubads().setTargeting('Page', 'quiz');
googletag.defineSlot('/2475648/HS_160x600_Left', [160, 600], 'div-gpt-ad-1348173301664-0').addService(googletag.pubads());
googletag.defineSlot('/2475648/HS_160x600_Right', [160, 600], 'div-gpt-ad-1348173301664-1').addService(googletag.pubads());
googletag.defineSlot('/2475648/HS_300x250_ATF', [300, 250], 'div-gpt-ad-1348173301664-2').addService(googletag.pubads());
googletag.defineSlot('/2475648/HS_300x250_BTF', [300, 250], 'div-gpt-ad-1348173301664-3').addService(googletag.pubads());
googletag.defineSlot('/2475648/HS_728x90_ATF', [[728, 90], [970, 60]], 'div-gpt-ad-1348173301664-4').addService(googletag.pubads());
googletag.pubads().enableSyncRendering();
googletag.enableServices();
</script>
<SCRIPT LANGUAGE="javascript" src="/styles/newcalc.js"></script>
{$extra_head}
</head>
<body leftmargin="0" topmargin="0" onLoad="MM_preloadImages('/images/art_1.gif','/images/assess_1.gif','/images/book_1.gif','/images/cal_1.gif','/images/fv_1.gif','/images/hf_1.gif','/images/hi_1.gif','/images/newsletter_1.gif','/images/online_1.gif','/images/signupfree_1.gif','/images/home_1.gif','/images/about.gif','/images/medical_1.gif')">
<!--#include file="/usr/local/www/vhosts/healthstatus.com/htdocs/SSI/head_left_nav1.ssi" -->
          <tr>
            <td><table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td><table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="11" height="9" align="left" valign="top"><img src="images/t_cor.gif" width="11" height="9" /></td>
                              <td valign="top" background="images/top_t.gif"><img src="images/dot_pxl.gif" width="1" height="1" /></td>
                              <td width="11" height="9" align="right" valign="top"><img src="images/cor.gif" width="11" height="9" /></td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td valign="top"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="1" bgcolor="#D0D0D0"><img src="images/dot_pxl.gif" width="1" height="1" /></td>
                              <td background="images/c2.gif"> <!-- Begin Left_combo Skyscraper -->
				<div align="center">
				<div id="ad160left"></div>
				</div>
				<!-- End Skyscraper --></td>
                              <td width="1" bgcolor="#D0D0D0"><img src="images/dot_pxl.gif" width="1" height="1" /></td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="10"><img src="images/l_cor.gif" width="10" height="9" /></td>
                              <td valign="top" background="images/b_bg.gif"><img src="images/dot_pxl.gif" width="1" height="1" /></td>
                              <td width="10"><img src="images/r_cor.gif" width="10" height="9" /></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table></td>
          </tr>
         </table></td>
      <td width="10"><img src="/images/dot_pxl.gif" width="1" height="1"></td>
      <td>
      
      
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td width="19"><img src="/images/corner.gif" width="19" height="23"></td>
                  <td align="left" bgcolor="#CFE6F9"><span class="lnk_01"><strong><a href="http://www.healthstatus.com/index.html" class="lnk_01">Home</a> 
                    &gt; </strong></span><span class="lnk2"><strong><a href="/cgi-bin/quiz/adv_calc.cgi?calc=men" class="lnk_01">Quizzes</a> 
                     &gt; </strong></span>{$title}
                    &gt; <strong>Input</strong></span></td>
                  <td width="1" align="left" bgcolor="#CFE6F9">
		  </td>
                  <td width="100" align="left" bgcolor="#CFE6F9">
			<div align="right"><a href="http://www.healthstatus.com/disclaimer.html" class="lnk3">Disclaimer</a> </div></td>
                  <td width="100" align="left" bgcolor="#CFE6F9">
			<div align="right"><a href="http://www.healthstatus.com/trouble.html" class="lnk3">Having Trouble?</a></div></td>
                  <td width="20"><img src="/images/corner_01.gif" width="20" height="23"></td>
                </tr>
              </table></td>
          </tr>
          <tr> 
            <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="blacktext">
                <tr valign="top"> 
                  <td width="1" valign="top" bgcolor="#CFE6F9"><img src="/images/dot_pxl.gif" width="1" height="1"></td>
                  <td width="10">&nbsp;</td>
                  <td align="left"> 
                    <table width="100%" border="0" cellpadding="1" cellspacing="1" class="text">
                      <tr> 
                        <td align="left" valign="middle">