 <p></p>
 </td></tr><tr valign="top"> 
                          <td><p>HealthStatus.com health quizzes and calculators and tools do 
                            not provide medical advice and do not replace the 
                            advice of a medical professional. Care has been taken 
                            to make sure the calculators and tools are generating 
                            correct results, but no guarantee is made that the 
                            results are accurate. The health tools use professionally 
                            accepted and peer reviewed algorithms to calculate 
                            their results or simple mathematical equations.<br> 
                            <br>&nbsp;<br>
                            If you have a health tool that you are interested 
                            in having published HealthStatus.com is always seeking 
                            new formulas.<br>&nbsp;<br></p>
			  </td>
                        </tr>
                    </table></td>
                  <td width="10">&nbsp;</td>

                  <td width="1" valign="top" bgcolor="#CFE6F9"><img src="/images/dot_pxl.gif" width="1" height="1"></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="25"><img src="/images/corner_02.gif" width="25" height="23"></td>
                  <td bgcolor="#CFE6F9">&nbsp;</td>

                  <td width="19"><img src="/images/corner_03.gif" width="19" height="23"></td>
                </tr>
              </table></td>
          </tr>
        </table>
        <p>&nbsp;</p>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
      	            <tr>
      	              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      	                  <tr>
      	                    <td width="19"><img src="images/corner.gif" width="19" height="23"></td>
      	                    <td align="left" bgcolor="#CFE6F9">&nbsp;</td>
      	                    <td width="20"><img src="images/corner_01.gif" width="20" height="23"></td>
      	                  </tr>
      	                </table></td>
      	            </tr>
      	            <tr>
      	              <td valign="top"> <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text">
      	                  <tr valign="top">
      	                    <td width="1" valign="top" bgcolor="#CFE6F9"><img src="images/dot_pxl.gif" width="1" height="1"></td>
      	                    <td width="10" bgcolor="#FFFFFF">&nbsp;</td>
      	                    <td bgcolor="#FFFFFF"><div align="center">
   <div id="ad1">Advertisement</div>
				<!-- HS_300x250_BTF -->
				<div id='div-gpt-ad-1348173301664-3'>
				<script type='text/javascript'>
				googletag.display('div-gpt-ad-1348173301664-3');
				</script>
				</div>

      							</div></td>
                              <td width="10" bgcolor="#FFFFFF">&nbsp;</td>
                        <td width="1" valign="top" bgcolor="#CFE6F9"><img src="images/dot_pxl.gif" width="1" height="1"></td>
      	             </tr>
                    </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="25"><img src="images/corner_02.gif" width="25" height="23"></td>
                        <td bgcolor="#CFE6F9">&nbsp;</td>
                        <td width="19"><img src="images/corner_03.gif" width="19" height="23"></td>
                      </tr>
                    </table></td>
                </tr>
      		  <tr>
      			<td>&nbsp;</td>
      		  </tr>
              </table>
        
        </td>
 <td width="10"><img src="/images/dot_pxl.gif" width="1" height="1"></td> 
    </tr>
  </table>
<div align=center>

  <br>
  <table width="990"  border="0" cellpadding="0" cellspacing="0" class="text2">
    <tr align=center>
      <td bgcolor="#E7E7E7" width=15><img src="/physician/images/r1.gif" width="15" height="37"></td>
      <td bgcolor="#E7E7E7" align=center width=960><!--#include file="/usr/local/www/vhosts/healthstatus.com/htdocs/SSI/copyright.ssi" --></td>
      <td width=15><img src="/physician/images/r2.gif" width="15" height="37"></td>
    </tr>
  </table>

</div>


<br>
<br>
</center>
</body>
</html>