{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( $directory.$input_variables, PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file( $directory.$header_file, PACKAGE => __PACKAGE__ );
}
<!--Form and form table START here. Table max width no more than 560 pixels.-->
<form id="quiz" method="POST" action="{$cgi}adv_calculator.cgi">		
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_1"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="painintensity" class="c_select"  required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_2"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_3"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_4"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_5"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_6"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_7"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_8"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="personalcare" class="c_select" required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_9"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_10"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_11"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_12"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_13"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_14"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_15"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="lifting" class="c_select" required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_16"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_17"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_18"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_19"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_20"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_21"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_22"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="walking" class="c_select" required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_23"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_24"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_25"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_26"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_27"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_28"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_29"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="sitting" class="c_select"  required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_30"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_31"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_32"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_33"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_34"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_35"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_36"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="standing" class="c_select"  required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_37"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_38"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_39"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_40"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_41"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_42"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_43"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="sleeping" class="c_select"  required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_44"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_45"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_46"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_47"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_48"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_49"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_50"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="sexlife" class="c_select" required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_51"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_52"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_53"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_54"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_55"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_56"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_57"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="sociallife" class="c_select"  required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_58"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_59"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_60"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_61"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_62"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_63"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			{$question{lbw}{$current_lang}{$current_lang."_64"}}
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<label class="c_select_label">
				<select name="travelling" class="c_select" required>
					<option selected="selected"></option>
					<option value="0">{$question{lbw}{$current_lang}{$current_lang."_65"}}</option>
					<option value="1">{$question{lbw}{$current_lang}{$current_lang."_66"}}</option>
					<option value="2">{$question{lbw}{$current_lang}{$current_lang."_67"}}</option>
					<option value="3">{$question{lbw}{$current_lang}{$current_lang."_68"}}</option>
					<option value="4">{$question{lbw}{$current_lang}{$current_lang."_69"}}</option>
					<option value="5">{$question{lbw}{$current_lang}{$current_lang."_70"}}</option>
				</select>
			</label>
		</div>
		<div class="col-md-12 col-lg-3 col-xs-12 c_form_left">
			
		</div>
		<div class="col-md-12 col-lg-9 col-xs-12 c_form_right">
			<input type="submit" name="submit" class="c_button orange-bg-white-col f_right" value="Calculate" />
			<input value="Imperial" name="measure" type="hidden" />
			<input value="lbw" name="calculator" type="hidden" />
			<input type="hidden" name="snum" value="{$snum}" />
			<input type="hidden" name="lang" value="{$lang}"/>
		</div>
		<div class="clear"></div>
		
	</form>
</div>
<p>HealthStatus.com health quizzes and calculators and tools do not provide medical advice and do not replace the advice of a medical professional. Care has been taken to make sure the calculators and tools are generating correct results, but no guarantee is made that the results are accurate. The health tools use professionally accepted and peer reviewed algorithms to calculate their results or simple mathematical equations.</p>
<!--Form and form table END here.-->
{
# this is the standard header for the assessment output.
Text::Template::fill_in_file($directory . $footer_file, PACKAGE => __PACKAGE__ );
}