
</div>
<!-- center section end here-->

<!-- footer-line section start here-->
<div id="hsfooter-line">
</div>
<!-- footer-line section end here-->

<!-- footer-menu section start here-->
<div id="hsfooter-menu" class="footer_link">
</div>
<!-- footer-menu section end here-->

<!-- footer section start here-->
<div id="hsfooter" class="copyTxt">
<p class="pad16">
Copyright &copy; 1998-2012 HealthStatus.com, Inc., All rights reserved.
</p>
</div>
<!-- footer section end here-->

</div>
<!-- main section end here-->
<!-- Paste analytics code here -->

            </td>
        </tr>
        
    </tbody></table>
    <p>
        <br>
    </p>

                    <div class="clear"></div>               

            </div>
            <div class="clear"></div>
            
 <div id="Footer">
    
    <div class="FooterCol01 fl">
      <ul>
        
        <li><a href="https://efr.betterlivingportal.com/My_Account.aspx" id="ctl00_Footer_lnkRegister">My Account</a></li>
        <li id="ctl00_Footer_lForum"><a href="https://efr.betterlivingportal.com/forums/Ask-The-Experts/View.aspx" id="ctl00_Footer_lnkForum">Forum</a></li>
        <li id="ctl00_Footer_lGroups"><a href="https://efr.betterlivingportal.com/groups" id="ctl00_Footer_lnkGroups">Groups</a></li>
        <li id="ctl00_Footer_lContent"><a href="https://efr.betterlivingportal.com/ViewContentSections.aspx" id="ctl00_Footer_lnkContent">Content</a></li>
        <li id="ctl00_Footer_lMembers"><a href="https://efr.betterlivingportal.com/ViewMembers.aspx" id="ctl00_Footer_lnkViewMembers">Members</a></li>
        <li id="ctl00_Footer_lExperts"><a href="https://efr.betterlivingportal.com/ViewExperts.aspx" id="ctl00_Footer_lnkViewExperts">Experts</a></li>
        
        <li id="ctl00_Footer_lScreeners"><a href="https://efr.betterlivingportal.com/Screeners.aspx" id="ctl00_Footer_lnkScreeners">Modules</a></li>
        <li><a href="https://efr.betterlivingportal.com/default.aspx" id="ctl00_Footer_lnkMyAccount">Home</a></li>
        
      </ul>
    </div>
    
    <div class="FooterCol01 fl">
      <ul>
        <li id="ctl00_Footer_lCheckup"><a href="https://efr.betterlivingportal.com/screener/HealthyLivingCheckup.aspx" id="ctl00_Footer_lnkCheckup">Checkup</a></li>
            
            <li id="ctl00_Footer_lGoal"><a href="https://efr.betterlivingportal.com/screener/ChangeAgent.aspx" id="ctl00_Footer_lnkSetAGoal">Set A Goal</a></li>
            
            
            
            <li id="ctl00_Footer_lAbout"><a href="https://efr.betterlivingportal.com/about.aspx" id="ctl00_Footer_lnkAbout">About Us</a></li>
            <li id="ctl00_Footer_lContact"><a href="https://efr.betterlivingportal.com/contact.aspx" id="ctl00_Footer_lnkContact">Contact Us</a></li>
        
        <li><a href="http://www.radiantbehavioral.com/terms.html" target="_top">Terms of Use</a></li>
        <li><a href="http://www.radiantbehavioral.com/privacy_policy.html" target="_top">Privacy Policy</a></li>
      </ul>
    </div>
    
        <div class="FooterCol01 fl">
          <ul>
            <li><a href="https://efr.betterlivingportal.com/ViewContentSections.aspx">Self-Help Content</a></li>
            <li><a href="https://efr.betterlivingportal.com/content/Hot-Off-The-Press.aspx">Hot Off The Press</a></li>
            <li><a href="https://efr.betterlivingportal.com/content/Resources.aspx">Resources</a></li>
          </ul>
        </div>
        
    <div class="FooterCol02 FR"> Spread the word:
      <div class="NewLine Pdt20">
      
<div style="text-align: center;" class="addthis_toolbox">
    <div class="custom_images">
        <a title="Send to Facebook" href="#" class="addthis_button_facebook at300b"><span class="Icon01"></span></a> 
        <a title="Tweet This" href="#" class="addthis_button_twitter at300b"><span class="Icon02"></span></a> 
        <a title="Send to StumbleUpon" target="_top" href="https://www.addthis.com/bookmark.php?v=250&amp;winname=addthis&amp;pub=mblakley&amp;source=tbx-250&amp;lng=en-US&amp;s=stumbleupon&amp;url=https%3A%2F%2Fefr.betterlivingportal.com%2Fabout.aspx&amp;title=Better%20Living%20-%20About&amp;ate=AT-mblakley/-/-/5016889fac459ed5/2&amp;frommenu=1&amp;uid=5016889ffe6aa085&amp;ct=1&amp;tt=0" class="addthis_button_stumbleupon at300b"><span class="Icon03"></span></a> 
        <a title="Email" href="#" class="addthis_button_email at300b"><span class="Icon05"></span></a> 
        <a title="View more services" href="#" class="addthis_button_more at300b"><span class="Icon04"></span></a> 
    </div>
<div class="atclear"></div></div>



      </div>
      <div class="txtsml NewLine Pdt20 copy">© 2012 <a href="http://www.radiantbehavioral.com/" target="_top">Radiant Behavioral Health</a><br>
All rights reserved.</div>
    </div>
  </div>

        </div>        
    </div>        
    



<div id="ViewGroups" style="width: 220px; white-space: nowrap;" class="anylinkcss"><ul>
            <li> <a href="https://efr.betterlivingportal.com/groups/MyGroups.aspx">My Groups</a> </li>
            <li> <a href="#">My Group Discussions</a> </li>
            <li> <a href="https://efr.betterlivingportal.com/groups">Browse All Groups</a> </li>
            
             <li> <a href="https://efr.betterlivingportal.com/groups/Search.aspx">Search Groups by Keywords</a> </li>
           </ul>
        </div><div style="width: 222px; height: 133px; opacity: 0.3;" class="anylinkshadow"></div><div id="ViewContent" style="" class="anylinkcss"><ul><li> <a href="https://efr.betterlivingportal.com/ViewContentSections.aspx?ID=0">Primary Content</a> </li><li> <a href="https://efr.betterlivingportal.com/content/Hot-Off-The-Press.aspx">Hot Off The Press</a> </li><li> <a href="https://efr.betterlivingportal.com/content/Resources.aspx">Resources</a> </li></ul></div><div style="width: 152px; height: 100px; opacity: 0.3;" class="anylinkshadow"></div><div id="ViewMembers" style="white-space: nowrap;" class="anylinkcss"><ul>
            <li> <a href="https://efr.betterlivingportal.com/ViewMembers.aspx">Browse</a> </li>
            <li> <a href="https://efr.betterlivingportal.com/UsernameSearch.aspx">Username Search</a> </li>
            <li> <a href="https://efr.betterlivingportal.com/WhoIsOnline.aspx">Who's On</a> </li>
            <li> <a href="https://efr.betterlivingportal.com/NewMembers.aspx">Newest Members</a> </li>
            </ul></div><div style="width: 152px; height: 133px; opacity: 0.3;" class="anylinkshadow"></div><div id="ViewExperts" style="white-space: nowrap;" class="anylinkcss"><ul>
            <li> <a href="https://efr.betterlivingportal.com/ViewExperts.aspx">Browse Experts</a> </li>
            <li> <a href="https://efr.betterlivingportal.com/ExpertSearch.aspx">Expert Search</a> </li>
            <li> <a href="https://efr.betterlivingportal.com/WhoIsOnlineE.aspx">Who's On</a> </li>
            <li> <a href="https://efr.betterlivingportal.com/NewExperts.aspx">Newest Experts</a> </li>
            </ul>
        </div><div style="width: 152px; height: 133px; opacity: 0.3;" class="anylinkshadow"></div><div id="Checkup" style="width: 220px; white-space: nowrap;" class="anylinkcss"><ul>
         
            <li> <a href="https://efr.betterlivingportal.com/screener/HealthyLivingCheckup.aspx">Healthy Living Checkup</a> </li>
            <li> <a href="https://efr.betterlivingportal.com/screener/PreScreener.aspx">Behavioral Health Checkup</a> </li>	
             <li> <a href='/cgi-bin/hs/assessment_recs.cgi'>Health Risk Assessments</a> </li>
             <li> <a href='/cgi-bin/hs/calc.cgi?calc=men'>Calculators</a> </li>
            </ul>
        </div><div style="width: 222px; height: 67px; opacity: 0.3;" class="anylinkshadow"></div><div id="Screeners" style="width: 220px; white-space: nowrap;" class="anylinkcss"><ul>
             <li> <a href="https://efr.betterlivingportal.com/screener/HealthyLivingCheckup.aspx">Healthy Living Checkup</a> </li>
             <li> <a href="https://efr.betterlivingportal.com/MyModules.aspx">My Modules</a> </li>            
            <li> <a href="https://efr.betterlivingportal.com/screeners.aspx">Individual Modules</a> </li>	
            </ul>
        </div><div style="width: 222px; height: 67px; opacity: 0.3;" class="anylinkshadow"></div></body>
</html>
