<!-- Template: crc_cover_letter_html.tmpl -->
<p>Your Personalized Cardiac Risk Assessment<br>{$bold_on}{$date}{$bold_off}</p><br>
<p>Dear {$bold_on}{$name}:{$bold_off}</p>
<p>This report contains the results of your cardiac risk assessment.  It is different from a check-up or a health exam that you would receive from a doctor or a nurse.  It cannot tell if you are sick or have a medical problem.  It only gives you some ideas for lowering your risks of heart disease and stroke.</P><br>
<p>However, this evaluation isn't a substitute for a health exam from a physician, and it can't identify a specific medical problem. It can only show you how you can avoid the most common causes of illnesses and injuries for a person of your age and gender. Please see a health professional for further advice.</p><br>
<p>{$fact}</p><br>
<p>Average rates are based on United States death certificate data as adjusted for certain personal factors, and reflect current health patterns, medical practices, and environmental conditions.  All of the risks are computed from data and algorithms from the Carter Center of Emory University HEALTHIER PEOPLE Project, with technical support from 25 other major health agencies. </p><br>
<p>Read your report carefully, and if you have questions, contact your doctor or a health professional who can help you understand the results.</p><br>
<p>Thank you,</p><br><p>{$bold_on}{$client_web_signature}{$bold_off}</p>
<p>&nbsp; </p>
