{
	my ($smlev, $suslev, $smtar, $scale, $scope, $rate, $targ, $title, $width);
	$smlev = $vars{my_score};
	$suslev = $vars{avg_score};
	$smtar = $vars{target_score};
	$scale = $vars{bar_scale};
	$scope = $vars{scope_text};
	$rate = $vars{rate_text};
	$targ = $vars{target_text};
	$title = $vars{title_text};
	$width = $vars{width_of_table};
	if(!$rate){
		$rate = "U.S. Average";
	}
	if(!$targ){
		$targ = $lang{$current_language}{Target_score};
	}
	if(!$risk){
		$risk = $lang{$current_language}{Your_risk_is};
	}
	if(!$above){
		$above = "above";
	}
	if(!$below){
		$below = "below";
	}
	$mlev = int($smlev * $scale)*10;
	$uslev = int($suslev * $scale)*10;
	$mtar = int($smtar * $scale)*10;
	my $bar_height = $bar3_height || 4;
	if(!$title){
		$title = "Your current $scope is $smlev. ";}
	else{
		$title = eval $title;
	}
	my $htm = qq|<table width="100%" border=0 cellspacing=0 cellpadding=0 class="hs_bar_table">|;
	$htm .= qq|<tr><td class=hs_bar_label1><nobr>&nbsp;&nbsp;$lang{$current_language}{Your_Score}&nbsp;</nobr></td><td class=hs_bar1 width="86%"><img src ="$bar3_score" border=0 height=$bar_height width=$mlev></td></tr>|;
	$htm .= qq|<tr><td class=hs_bar_label3><nobr>&nbsp;&nbsp;$lang{$current_language}{Target_score}&nbsp;</nobr></td><td class=hs_bar3 width="86%"><img src ="$bar3_target" border=0 height=$bar_height width=$mtar></td></tr>|;
	$htm .= qq|<tr><td class=hs_bar_label2><nobr>&nbsp;&nbsp;$lang{$current_language}{Average_Score}&nbsp;</nobr></td><td class=hs_bar2 width="86%"><img src ="$bar3_avg" border=0 height=$bar_height width=$uslev></td></tr>|;
	$htm .= qq|</table>|;

$htm;
}