<?xml version="1.0" standalone="yes" ?>
{ 
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}assessment_language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( $config{template_directory} . $config{variables_template}, PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$crc_variables_tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}hemensaglik_crc_links.tmpl", PACKAGE => __PACKAGE__ );
}<PDF PageMode="UseNone" PageLayout="SinglePage" PageSize="Letter" FindHyperlink="1" Author="HealthStatus.com, Inc.">
 <Font UNI="serif" />	
<Image Width="{$brand_logo_pdf_width}" Height="{$brand_logo_pdf_height}" File="{$config{pdf_base}}/{$brand_logo_pdf}" Name="Im0" />
<Image Width="15" Height="14" File="{$config{pdf_base}}/{$config{green_risk_image}}" Name="Im1" />
<Image Width="15" Height="14" File="{$config{pdf_base}}/{$config{yellow_risk_image}}" Name="Im2" />
<Image Width="15" Height="14" File="{$config{pdf_base}}/{$config{red_risk_image}}" Name="Im3" />
<Image Width="309" Height="13" File="{$config{pdf_base}}/{$config{color_guide}}" Name="Im9" />
<Page Name="Pg0" Width="612" Height="792" Bookmark="Cover Letter">
<Graph Rect="0, 0, 612, 792" Name="Gr0" FontFace="NNN2" Leading="14">
<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
<ShowText X="60" Y="685" Text="Your Personalized Cardiac Risk Results" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
<ShowText X="580" Y="60" Text="{$lang{$current_language}{crc_title}}" FontFace="NNN2" Color="E0E0E0" Leading="8" Width="475" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
</Graph>

<Text Name="Txt0" Rect="60, 60, 552, 670" FontFace="NNN2" FontSize="11" Leading="14" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" PaddingRight="25" ExtraParaSpacing="0" >

<![CDATA[
{  
my $midtext;
	# this is the standard header for the assessment output.
$midtext = Text::Template::fill_in_file( $config{template_directory} . 'hemensaglik_crc_cover_letter_html.tmpl', PACKAGE => __PACKAGE__ );
$midtext =~ s/<br>/^P ^p  ^P /ig;
$midtext =~ s/<p>|<\/p>/ ^P ^p  ^P \n /ig;
$midtext =~ s/<!--.*-->//g;
$midtext =~ s/&nbsp;//g;
$midtext;
}
]]>
</Text>
</Page>
<Page Name="Pg1" Width="612" Height="792">
	<Graph Rect="0, 0, 612, 792" Name="Gr1">
		<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
		<ShowText X="60" Y="685" Text="Your Personalized Cardiac Risk Results" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
		<ShowText X="580" Y="60" Text="{$lang{$current_language}{crc_title}}" FontFace="NNN2" Color="E0E0E0" Width="475" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
		<ShowText X="520" Y="20" Text="Page 2" FontFace="Arial" FontSize="8" Leading="8" Color="666666" />
	</Graph>
	<Text Name="Txt1" Rect="60, 565, 210, 650" FontFace="NNN2" FontSize="11" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" ExtraParaSpacing="0">
	
		<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{blood_pressure}} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color=Black ^b  ^B ^F ]]>
	</Text>
	<Graph Rect="0, 0, 612, 792" Name="Gr2">
		<ShowImage Name="{$bp_score}" Left="180" Bottom="565" Flip="0" />
	</Graph>
	<Text Name="Txt2" Rect="210, 450, 552, 650" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Blood Pressure">
		<![CDATA[
		^P

		{$bp_status}  ^P

		^P
        { 
		 # my $xml_text;
		 # $xml_text .= $lang{$current_language}{systolic_blood_pressure};		 
		 # $xml_text .= " - ";
		 # $xml_text .= $lang{$current_language}{Your_risk_is};
		 # $xml_text .= $bp_sys;
		 # $xml_text;
		 }
		^P

		^P

		^P

		^P

		{$bp_challenge} ^P

		^P

		^P ^f:size=9&color=Black ^b {$lang{$current_language}{details}} ^B ^F ^P

		{$bp_message} ^P

		^P
        
		{$lang{$current_language}{crc_bp_msg}}.^P

		  ]]>
	</Text>
	<Graph Rect="210, 570, 622, 720" Name="Gr2a">
		{# this part creates a bargraph
                  if ( $bp_sys > $bp_target || $bp_dias <= $bp_dtarget ) {
		     %vars = (
			format => 'bar',
			my_score => $bp_sys,
			avg_score => $bp_avg,
			target_score => $bp_target,
			scope_text => $lang{$current_language}{systolic_blood_pressure},
			rate_text => 'Average US',
			level => '',
			target_text => $lang{$current_language}{Your_target}	,
			title_text => ''
		     );
                     }
                     else {
		     %vars = (
			format => 'bar',
                     	my_score => $bp_dias,
                     	avg_score => $bp_davg,
                     	target_score => $bp_dtarget,
                     	scope_text => $lang{$current_language}{diastolic_blood_pressure}	,
			rate_text => 'Average US',
			level => '',
			target_text => $lang{$current_language}{Your_target},
			title_text => ''
		     );
		     }
		     if( $bp_sys < 150) {$vars{bar_scale} = 2;}else{$vars{bar_scale} = 1.2;}
		     my $bar;
                     if ($config{'risks3bar'}){  $vars{bar_scale} = 1; $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar_risk_3bars.tmpl", PACKAGE => __PACKAGE__ ) or die $Text::Template::ERROR;}
                     else{ $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar.tmpl", PACKAGE => __PACKAGE__ );} $bar;
		}
	</Graph>
<Text Name="Txt3" Rect="60, 295, 210, 380" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" ExtraParaSpacing="0">
<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{cholesterol}} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color=Black ^b  ^B ^F ]]>
</Text>
	<Graph Rect="0, 0, 612, 792" Name="Gr3">
		<ShowImage Name="{$cholesterol_score}" Left="180" Bottom="295" Flip="0" />
	</Graph>
	<Text Name="Txt4" Rect="210, 130, 552, 380" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Cholesterol">
		<![CDATA[
		^P

		^P

		{$cholesterol_status} ^P

		^P

		^P

		^P

		^P

		{$cholesterol_challenge} ^P

		^P

		^P ^f:size=9&color=Black ^b {$lang{$current_language}{details}} ^B ^F ^P

		{ $cholesterol_message} ^P


		  ]]>
	</Text>
	<Graph Rect="210, 291, 622, 461" Name="Gr3b">
		{# this part creates a bargraph
		     %vars = (
			format => 'bar',
			my_score => $cholesterol,
			avg_score => $cholesterol_avg,
			target_score => $cholesterol_target,
			scope_text => $lang{$current_language}{total_cholesterol_less},
			rate_text => 'Average US',
			target_text => $lang{$current_language}{Your_target},
			level => '',
			bar_scale => 1,
			title_text => ''
		     );
		    my $bar;
                     if ($config{'risks3bar'}){  $vars{bar_scale} = 1; $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar_risk_3bars.tmpl", PACKAGE => __PACKAGE__ ) or die $Text::Template::ERROR;}
                     else{ $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar.tmpl", PACKAGE => __PACKAGE__ );} $bar;
		}
	</Graph>
</Page>
<Page Name="Pg2" Width="612" Height="792">
	<Graph Rect="0, 0, 612, 792" Name="Gr3a">
		<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
		<ShowText X="60" Y="685" Text="Your Personalized Cardiac Risk Results" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
		<ShowText X="580" Y="60" Text="{$lang{$current_language}{crc_title}}" FontFace="NNN2" Color="E0E0E0" Width="475" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
		<ShowText X="520" Y="20" Text="Page 3" FontFace="Arial" FontSize="8" Leading="8" Color="666666" />
	</Graph>
	<Text Name="Txt5" Rect="60, 565, 230, 650" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" ExtraParaSpacing="0">
		<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{hdl}} {$lang{$current_language}{cholesterol}} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color=Black ^b  ^B ^F  ]]>
	</Text>
	<Graph Rect="0, 0, 612, 792" Name="Gr4">
		<ShowImage Name="{$hdl_score}" Left="180" Bottom="565" Flip="0" />
	</Graph>
	<Text Name="Txt6" Rect="210, 500, 552, 650" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="HDL Cholesterol">
		<![CDATA[
		^P

		^P

		{$hdl_status} ^P

		^P

		^P

		^P

		^P

		{$hdl_challenge} ^P

		^P

		{
		  use XML::LibXML;
		  $docs_40 = XML::LibXML->new->parse_string( '<doc>&#40;</doc>' );
		  $strs_40 =  $docs_40->findnodes( '//text()' )->shift->to_literal, "\n";		 
		  my $chol_msg = $hdl_message;
		  $chol_msg =~ s/\(/$strs_40/g;
		  $chol_msg;
		} ^P

		  ]]>
	</Text>
	<Graph Rect="210, 560, 622, 680" Name="Gr4a">
		{# this part creates a bargraph
		     %vars = (
			format => 'bar',
			my_score => $hdl,
			avg_score => $hdl_avg,
			target_score => $hdl_target_high,
			scope_text => $lang{$current_language}{hdl_level}.$lang{$current_language}{good_cholesterol},
			rate_text => 'Average US',
			target_text =>$lang{$current_language}{Your_target},
			level => '+',
			title_text => '',
			bar_scale => 4
		     );

		     if($lc_sex eq 'male'){$var{target_score} = $hdl_target_men}else{$var{target_score} = $hdl_target_women}
		      my $bar;
                     if ($config{'risks3bar'}){  $vars{bar_scale} = 1; $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar_risk_3bars.tmpl", PACKAGE => __PACKAGE__ ) or die $Text::Template::ERROR;}
                     else{ $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar.tmpl", PACKAGE => __PACKAGE__ );} $bar;

		}
	</Graph>
	<Text Name="Txt7" Rect="60, 385, 230, 470" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" ExtraParaSpacing="0">
		<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{exercise}} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color=Black ^b ^B ^F ]]>
	</Text>
	<Graph Rect="0, 0, 612, 792" Name="Gr5">
		<ShowImage Name="{$exercise_score}" Left="180" Bottom="385" Flip="0" />
	</Graph>
	<Text Name="Txt8" Rect="210, 320, 552, 470" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Exercise">
		<![CDATA[
		^P

		^P

		{$exercise_status}  ^P

		^P

		^P

		^P

		^P

		{$exercise_challenge}  ^P

		^P

		{$exercise_message}  ^P

		  ]]>
	</Text>
	<Graph Rect="210, 380, 622, 450" Name="Gr5a">
		{# this part creates a bargraph
		     %vars = (
			format => 'bar',
			my_score => $exercise,
			avg_score => $exercise_avg,
			target_score => $exercise_target,
			scope_text => $lang{$current_language}{exercise_session_each_week},
			rate_text => 'Average US',
			target_text => $lang{$current_language}{Your_target},
			title_text => '',
			level => '',
			bar_scale => 40
		     );
		      my $bar;
                     if ($config{'risks3bar'}){  $vars{bar_scale} = 1; $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar_risk_3bars.tmpl", PACKAGE => __PACKAGE__ ) or die $Text::Template::ERROR;}
                     else{ $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar.tmpl", PACKAGE => __PACKAGE__ );} $bar;
		}
	</Graph>
	<Text Name="Txt9" Rect="60, 195, 230, 280" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" ExtraParaSpacing="0">
		<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{weight}} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color=Black ^b  ^B ^F ]]>
	</Text>
	<Graph Rect="0, 0, 612, 792" Name="Gr6">
		<ShowImage Name="{$weight_score}" Left="180" Bottom="195" Flip="0" />
	</Graph>
	<Text Name="Txt10" Rect="210, 105, 552, 280" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Weight">
		<![CDATA[
		^P

		^P

		{$weight_status} ^P

		^P

		^P

		^P

		^P

		{$weight_challenge} ^P

		^P

		{$weight_message} ^P

		  ]]>
	</Text>
	<Graph Rect="210, 190, 622, 285" Name="Gr6a">
		{# this part creates a bargraph
		     %vars = (
			format => 'bar',
			my_score => $bmi,
			avg_score => 29,
			target_score => 23,
			scope_text => $lang{$current_language}{bmi},
			rate_text => 'Average US',
			target_text =>$lang{$current_language}{Your_target},
			level => '',
			bar_scale => 8,
			title_text => ''
		     );
		      my $bar;
                     if ($config{'risks3bar'}){  $vars{bar_scale} = 1; $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar_risk_3bars.tmpl", PACKAGE => __PACKAGE__ ) or die $Text::Template::ERROR;}
                     else{ $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar.tmpl", PACKAGE => __PACKAGE__ );} $bar;
		}
	</Graph>
</Page>
<Page Name="Pg3" Width="612" Height="792">
	<Graph Rect="0, 0, 612, 792" Name="Gr7a">
		<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
		<ShowText X="60" Y="685" Text="Your Personalized Cardiac Risk Results" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
		<ShowText X="580" Y="60" Text="{$lang{$current_language}{crc_title}}" FontFace="NNN2" Color="E0E0E0" Width="475" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
		<ShowText X="520" Y="20" Text="Page 4" FontFace="Arial" FontSize="8" Leading="8" Color="666666" />
	</Graph>
	<Text Name="Txt11" Rect="60, 565, 230, 650" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" ExtraParaSpacing="0">
		<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{Fat_Intake}} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color=Black ^b  ^B ^F ]]>
	</Text>
	<Graph Rect="0, 0, 612, 792" Name="Gr8">
		<ShowImage Name="{$fat_score}" Left="180" Bottom="565" Flip="0" />
	</Graph>
	<Text Name="Txt12" Rect="210, 500, 552, 650" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Fat Intake">
		<![CDATA[
		^P

		^P

		{$fat_status} ^P

		^P

		^P

		^P

		^P

		{$fat_challenge} ^P

		^P

		{$fat_message} ^P

		  ]]>
	</Text>
	<Graph Rect="210, 560, 622, 680" Name="Gr8a">
		{# this part creates a bargraph
		     %vars = (
			format => 'bar',
			my_score => $fat_number,
			avg_score => 2.2,
			target_score => .5,
			scope_text => $lang{$current_language}{fat_intake_less},
			rate_text => 'Average US',
			target_text => $lang{$current_language}{Your_target},
			level => '',
			bar_scale => 75,
			title_text => ''
		     );
		      my $bar;
                     if ($config{'risks3bar'}){  $vars{bar_scale} = 1; $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar_risk_3bars.tmpl", PACKAGE => __PACKAGE__ ) or die $Text::Template::ERROR;}
                     else{ $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar.tmpl", PACKAGE => __PACKAGE__ );} $bar;
		}
	</Graph>
	<Text Name="Txt13" Rect="60, 385, 230, 470" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" ExtraParaSpacing="0">
		<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{Fiber_Intake}	} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color=Black ^b  ^B ^F ]]>
	</Text>
	<Graph Rect="0, 0, 612, 792" Name="Gr9">
		<ShowImage Name="{$fiber_score}" Left="180" Bottom="385" Flip="0" />
	</Graph>
	<Text Name="Txt14" Rect="210, 320, 552, 460" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ExtraParaSpacing="0" Bookmark="Exercise">
		<![CDATA[
		^P

		^P

		{$fiber_status} ^P

		^P

		^P

		^P

		^P

		{$fiber_challenge} ^P

		^P

		{$fiber_message}  ^P

		  ]]>
	</Text>
	<Graph Rect="210, 380, 622, 450" Name="Gr9a">
		{# this part creates a bargraph
		     %vars = (
			format => 'bar',
			my_score => $fiber_number,
			avg_score => 2,
			target_score => 3,
			scope_text => $lang{$current_language}{fat_intake_more}	,
			rate_text => 'Average US',
			target_text => $lang{$current_language}{Your_target},
			level => '',
			bar_scale => 25,
			title_text => ''
		     );
		   my $bar;
                     if ($config{'risks3bar'}){  $vars{bar_scale} = 1; $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar_risk_3bars.tmpl", PACKAGE => __PACKAGE__ ) or die $Text::Template::ERROR;}
                     else{ $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar.tmpl", PACKAGE => __PACKAGE__ );} $bar;
		}
	</Graph>
	<Text Name="Txt15" Rect="60, 195, 230, 280" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" ExtraParaSpacing="0">
		<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{smoking}} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color=Black ^b  ^B ^F ]]>
	</Text>
	<Graph Rect="0, 0, 612, 792" Name="Gr10">
		<ShowImage Name="{$smoke_score}" Left="180" Bottom="195" Flip="0" />
	</Graph>
	<Text Name="Txt16" Rect="210, 105, 552, 280" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Smoking">
		<![CDATA[
		^P

		^P

		{$smoke_status} ^P

		^P

		^P

		^P

		^P

		{$smoke_challenge} ^P

		^P

		{$smoke_message} ^P

		  ]]>
	</Text>
	<Graph Rect="210, 190, 622, 285" Name="Gr10a">
		{# this part creates a bargraph
		     %vars = (
			format => 'bar',
			my_score => $cigs_a_day,
			avg_score => $cig_avg,
			target_score => $cig_target,
			scope_text => $lang{$current_language}{number_of_cigarettes},
			rate_text => 'Average US',
			target_text =>$lang{$current_language}{Your_target},
			level => '',
			bar_scale => 8,
			title_text => ''
		     );
		   my $bar;
                     if ($config{'risks3bar'}){  $vars{bar_scale} = 1; $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar_risk_3bars.tmpl", PACKAGE => __PACKAGE__ ) or die $Text::Template::ERROR;}
                     else{ $bar = Text::Template::fill_in_file( "$config{template_directory}pdf_bar.tmpl", PACKAGE => __PACKAGE__ );} $bar;
		}
	</Graph>
</Page>
<Page Name="Pg4" Width="612" Height="792">
<Graph Rect="0, 0, 612, 792" Name="Gr10">
		<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
		<ShowText X="60" Y="685" Text="Your Personalized Cardiac Risk Results" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
		<ShowText X="580" Y="60" Text="{$lang{$current_language}{crc_title}}" FontFace="NNN2" Color="E0E0E0" Width="475" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
		<ShowText X="520" Y="20" Text="Page 5" FontFace="Arial" FontSize="8" Leading="8" Color="666666" />
</Graph>
<Text Name="Txt17" Rect="60, 60, 552, 670" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Resources">
<![CDATA[
^P

^P ^f:size=14&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{summary} } ^B ^F ^P
{$crc_status} ^P

^P

{$crc_message} ^P

^P

{$x ='';
if(defined $vars{Stress_Msg}){$x="$stress_message ^P

^P"}
if(defined $vars{Loss_Msg}){$x.="$loss_message ^P

^P"}
if(defined $vars{Factors_Msg}){$x.="$factors_message ^P

^P"}
'';
}
{$x}
^P

^f:size=14&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{Internet_resources}} ^B ^F ^P

{
join "",
	map { qq|^p ^f:size=8&face=ZapfDingbats u ^F ^f:size=9&face=Arial $$_[1] -- $$_[0] ^F ^P  | }
	@links;
}
  ]]>
</Text>
</Page>
</PDF>