<?xml version="1.0" standalone="yes" ?>
{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}assessment_language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( $config{template_directory} . $config{variables_template}, PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}drc_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}hemensaglik_drc_links.tmpl", PACKAGE => __PACKAGE__ );
}<PDF PageMode="UseNone" PageLayout="SinglePage" PageSize="Letter" FindHyperlink="1" Author="HealthStatus.com, Inc.">
<Font UNI="serif" />
<Image Width="{$brand_logo_pdf_width}" Height="{$brand_logo_pdf_height}" File="{$config{pdf_base}}/{$brand_logo_pdf}" Name="Im0" />
<Page Name="Pg0" Width="612" Height="792" Bookmark="Cover Letter">
<Graph Rect="0, 0, 612, 792" Name="Gr0">
<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
<ShowText X="60" Y="685" Text="Your Personalized Diabetes Risk Results" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
<ShowText X="580" Y="60" Text="{$lang{$current_language}{diabetes_assessment}}" FontFace="NNN2" Color="E0E0E0" Width="350" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
</Graph>
<Text Name="Txt0" Rect="60, 60, 552, 660" FontFace="NNN2" FontSize="10" Leading="12" FontColor="Slategray" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0">
<![CDATA[
{
my $midtext;
	# this is the standard header for the assessment output.
$midtext = Text::Template::fill_in_file( $config{template_directory} . 'hemensaglik_drc_cover_letter_html.tmpl', PACKAGE => __PACKAGE__ );
$midtext =~ s/<br>/^P ^p  ^P /ig;
$midtext =~ s/<p>|<\/p>/ ^P ^p  ^P \n /ig;
$midtext =~ s/<!--.*-->//g;
$midtext =~ s/&nbsp;//g;
$midtext;
}
  ]]>
</Text>
</Page>
<Page Name="Pg2" Width="612" Height="792" Bookmark="Details">
<Graph Rect="0, 0, 612, 792" Name="Gr0">
<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
<ShowText X="60" Y="685" Text="Your Personalized Diabetes Risk Results" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
<ShowText X="580" Y="60" Text="{$lang{$current_language}{diabetes_assessment}}" FontFace="NNN2" Color="E0E0E0" Width="350" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
</Graph>
<Text Name="Txt0" Rect="60, 60, 552, 660" FontFace="NNN2" FontSize="10" Leading="12" FontColor="Slategray" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="4mm" PaddingRight="24" ExtraParaSpacing="0">
<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{body_composition}} ^B ^F ^P

^P

{$lang{$current_language}{height}} = {$height_metric} ^P

{$lang{$current_language}{weight}} = {$weight} - Ideal = {$low_weight} to {$high_weight} ^P

{$lang{$current_language}{bmi}} = {$bmi} ^P

{$lang{$current_language}{race}} = {$race} ^P

{$lang{$current_language}{sex}} = {$new_sex} ^P

{ 
my $text;
if($parents_have_diabetes  || $siblings_have_diabetes){

$tp = $parents_have_diabetes  || $lang{$current_language}{Not_available};
$ts = $siblings_have_diabetes || $lang{$current_language}{Not_available};

$text = qq|$lang{$current_language}{Family_occurrence} = ^P 

^t {$lang{$current_language}{parent}}: $tp -- {$lang{$current_language}{siblings}}: $ts ^P

^P|;}

$text;
}

^P

^P

^P ^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{weight}} ^B ^F ^P

^P

{$weight_target} ^P

^P

{$weight_desc} ^P

^P

^P

^P

^P ^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{exercise}} ^B ^F ^P

^P

{$exer_target} ^P

^P

{$exer_desc} ^P

{    if($sex eq FEMALE && $female_desc ne ''){
qq|^P

^P

^P

^P ^f:size=12&color=$config{brand_subtitle_color} ^b {$lang{$current_language}{birth_related} } ^B ^F ^P

^P

$female_desc ^P |;}
}

^P

^P

^P

^P ^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{predispositions}} ^B ^F ^P

^P

 {$disp_desc}  ^P

^P

^P
  ]]>
</Text>
</Page>

<Page Name="Pg3" Width="612" Height="792" Bookmark="Internet Resources">
<Graph Rect="0, 0, 612, 792" Name="Gr0">
<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
<ShowText X="60" Y="685" Text="Your Personalized Diabetes Risk Results" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
<ShowText X="580" Y="60" Text="{$lang{$current_language}{diabetes_assessment}}" FontFace="NNN2" Color="E0E0E0" Width="350" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
</Graph>
<Text Name="Txt0" Rect="60, 60, 552, 660" FontFace="NNN2" FontSize="10" Leading="12" FontColor="Slategray" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0">
<![CDATA[
^P

^f:size=14&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{Internet_resources}} ^B ^F ^P

{
join "",
	map { qq|^p ^f:size=8&face=NNN2 ^F ^f:size=9&face=NNN2 $$_[1] -- $$_[0] ^F ^P  | }
	@links;
}
  ]]>
</Text>
</Page>
</PDF>
