<?xml version="1.0" standalone="yes" ?>
{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}assessment_language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( $config{template_directory} . $config{variables_template}, PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}fit_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}hemensaglik_fit_links.tmpl", PACKAGE => __PACKAGE__ );
}<PDF PageMode="UseNone" PageLayout="SinglePage" PageSize="Letter" FindHyperlink="1" Author="HealthStatus.com, Inc.">
<Font UNI="serif" />
<Image Width="{$brand_logo_pdf_width}" Height="{$brand_logo_pdf_height}" File="{$config{pdf_base}}/{$brand_logo_pdf}" Name="Im0" />
<Image Width="15" Height="14" File="{$config{pdf_base}}/{$config{green_risk_image}}" Name="Im1" />
<Image Width="15" Height="14" File="{$config{pdf_base}}/{$config{yellow_risk_image}}" Name="Im2" />
<Image Width="15" Height="14" File="{$config{pdf_base}}/{$config{red_risk_image}}" Name="Im3" />
<Page Name="Pg0" Width="612" Height="792" Bookmark="Cover Letter">
<Graph Rect="0, 0, 612, 792" Name="Gr0">
<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
<ShowText X="60" Y="685" Text="Your Personalized Fitness Assessment" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
<ShowText X="580" Y="60" Text="{$lang{$current_language}{fit_title}}" FontFace="NNN2" Color="E0E0E0" Width="350" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
</Graph>
<Text Name="Txt0" Rect="60, 60, 552, 670" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" PaddingRight="25" ExtraParaSpacing="0">
<![CDATA[
{
my $midtext;
	# this is the standard header for the assessment output.
$midtext = Text::Template::fill_in_file( $config{template_directory} . 'hemensaglik_fit_cover_letter_html.tmpl', PACKAGE => __PACKAGE__ );
$midtext =~ s/<br>/^P ^p  ^P /ig;
$midtext =~ s/<br \/>/^P ^p  ^P /ig;
$midtext =~ s/<p>|<\/p>/ ^P ^p  ^P \n /ig;
$midtext =~ s/<!--.*-->//g;
$midtext =~ s/&nbsp;//g;
$midtext;
}
  ]]>
</Text>
</Page>
<Page Name="Pg1" Width="612" Height="792">
<Graph Rect="0, 0, 612, 792" Name="Gr1">
<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
<ShowText X="60" Y="685" Text="Your Personalized Fitness Assessment" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
<ShowText X="580" Y="60" Text="{$lang{$current_language}{fit_title}}" FontFace="NNN2" Color="E0E0E0" Width="350" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
<ShowText X="520" Y="20" Text="Page 2" FontFace="Arial" FontSize="8" Leading="8" Color="666666" />
</Graph>
<Text Name="Txt1" Rect="60, 565, 210, 650" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" PaddingRight="25" ExtraParaSpacing="0">
<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{body_composition} } ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color={$config{brand_subtitle_color}} ^b ^B ^F  ]]>
</Text>
<Graph Rect="0, 0, 612, 792" Name="Gr2">
<ShowImage Name="{$body_graphic}" Left="180" Bottom="565" Flip="0" />
</Graph>
<Text Name="Txt2" Rect="240, 430, 552, 650" FontFace="NNN2" FontSize="10" Leading="11" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Body Composition">
<![CDATA[
^P

^P

{$lang{$current_language}{height}} = {$height} ^P

{$lang{$current_language}{waist}} = {$waist} ^P

{$lang{$current_language}{frame_size} } = {$frame_sizes[$frame_size] } ^P

{$lang{$current_language}{weight}} = {$weight} - Ideal = {$low_weight} to {$high_weight} ^P

{$lang{$current_language}{bmi}} = {$bmi} ^P

{$lang{$current_language}{body_fat} } % = {$body_fat_percent} ^P

{$lang{$current_language}{daily_energy_exp}} = {$daily_caloric_requirements} calories ^P

^P

^f:size=9&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{details}}  ^B ^F ^P

{$body_message} ^P

  ]]>
</Text>
<Text Name="Txt3" Rect="60, 290, 210, 380" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" PaddingRight="25" ExtraParaSpacing="0">
<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{Cardiorespiratory_Endurance}} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color={$config{brand_subtitle_color}} ^b  ^B ^F ]]>
</Text>
<Graph Rect="0, 0, 612, 792" Name="Gr3">
<ShowImage Name="{$step_graphic}" Left="180" Bottom="290" Flip="0" />
</Graph>
<Text Name="Txt4" Rect="240, 130, 552, 380" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Cardiorespitory Endurance">
<![CDATA[
^P

^P

{$lang{$current_language}{fit_msg22}} = {$pulse_rate_30_seconds} ^P

{$lang{$current_language}{fitness_level}} = {$step_desc} ^P

^P

{$step_target} ^P

^P

^f:size=9&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{details}}  ^B ^F ^P

{$Step_Detail} ^P

  ]]>
</Text>
</Page>
<Page Name="Pg2" Width="612" Height="792">
<Graph Rect="0, 0, 612, 792" Name="Gr3a">
<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
<ShowText X="60" Y="685" Text="Your Personalized Fitness Assessment" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
<ShowText X="580" Y="60" Text="{$lang{$current_language}{fit_title}}" FontFace="NNN2" Color="E0E0E0" Width="350" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
<ShowText X="520" Y="20" Text="Page 3" FontFace="Arial" FontSize="8" Leading="8" Color="666666" />
</Graph>
<Text Name="Txt1" Rect="60, 560, 210, 650" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" PaddingRight="5" ExtraParaSpacing="0">
<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{muscular_endurance}} ^P

({$lang{$current_language}{sit_ups}})  ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color={$config{brand_subtitle_color}} ^b  ^B ^F   ]]>
</Text>
<Graph Rect="0, 0, 612, 792" Name="Gr4">
<ShowImage Name="{$sits_graphic}" Left="180" Bottom="560" Flip="0" />
</Graph>
<Text Name="Txt2" Rect="240, 500, 552, 650" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Muscular Endurance - Situps">
<![CDATA[
^P

^P

{$lang{$current_language}{sit_ups}} {$lang{$current_language}{performed}} = {$sit_up} ^P

{$lang{$current_language}{fitness_level}} = {$sits_desc} ^P

^P

{$sits_target} ^P

^P

^f:size=9&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{details}}  ^B ^F ^P

{$Sits_Detail} ^P

  ]]>
</Text>
<Text Name="Txt7" Rect="60, 380, 210, 470" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" PaddingRight="5" ExtraParaSpacing="0">
<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{muscular_endurance}} ^P

({$lang{$current_language}{push_ups}	}) ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color={$config{brand_subtitle_color}} ^b  ^B ^F  ]]>
</Text>
<Graph Rect="0, 0, 612, 792" Name="Gr5">
<ShowImage Name="{$push_graphic}" Left="180" Bottom="380" Flip="0" />
</Graph>
<Text Name="Txt8" Rect="240, 320, 552, 470" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Muscular Endurance - Pushups">
<![CDATA[
^P

^P

{$lang{$current_language}{push_ups}} {$lang{$current_language}{performed}} = {$push_ups} ^P

{$lang{$current_language}{fitness_level}} = {$push_desc} ^P

^P

{$push_target}  ^P

  ]]>
</Text>
<Text Name="Txt9" Rect="60, 190, 210, 280" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Bottom" PaddingRight="25" ExtraParaSpacing="0">
<![CDATA[
^f:size=12&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{flexibility}} ^B ^F ^P

^P

^P

^P

^P ^f:size=9&color={$config{brand_subtitle_color}} ^b  ^B ^F ]]>
</Text>
<Graph Rect="0, 0, 612, 792" Name="Gr6">
<ShowImage Name="{$flexy_graphic}" Left="180" Bottom="190" Flip="0" />
</Graph>
<Text Name="Txt10" Rect="240, 105, 552, 280" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" ContentPadding="3mm" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Flexibility">
<![CDATA[
^P

^P

{$lang{$current_language}{reach}} = {$flexibility} cm ^P

{$lang{$current_language}{fitness_level}} = {$flexy_desc} ^P

^P

{$flexy_target} ^P

^P

^f:size=9&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{details}}  ^B ^F ^P

{$Flexy_Detail}
  ]]>
</Text>
</Page>
<Page Name="Pg3" Width="612" Height="792">
<Graph Rect="0, 0, 612, 792" Name="Gr10">
<ShowImage Name="Im0" Left="{$brand_logo_pdf_left}" Bottom="{$brand_logo_pdf_base}" Width="{$brand_logo_pdf_width}"  Flip="0" />
<ShowText X="60" Y="685" Text="Your Personalized Fitness Assessment" FontFace="Helvetica-Bold" Color="{$config{brand_title_color}}" BorderColor="{$config{brand_title_color}}" Height="12"  />
<ShowText X="580" Y="60" Text="{$lang{$current_language}{fit_title}}" FontFace="NNN2" Color="E0E0E0" Width="350" Height="25" FitWidth="CharScaling" FitHeight="Stretch" Rotation="90" />
<ShowText X="520" Y="20" Text="Page 4" FontFace="Arial" FontSize="8" Leading="8" Color="666666" />
</Graph>
<Text Name="Txt11" Rect="60, 60, 552, 660" FontFace="NNN2" FontSize="10" Leading="12" FontColor="666666" BgColor="White" TextJustify="Uniform" VerticalAlign="Top" PaddingRight="25" ExtraParaSpacing="0" Bookmark="Resources">
<![CDATA[
^P

^P

^f:size=14&color={$config{brand_subtitle_color}} ^b {$lang{$current_language}{Internet_resources}} ^B ^F ^P

{
join "",
	map { qq|^p ^f:size=8&face=ZapfDingbats u ^F ^f:size=9&face=Arial $$_[1] -- $$_[0] ^F ^P  | }
	@links;
}
  ]]>
</Text>
</Page>
</PDF>