{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}assessment_language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}hemensaglik_gha_variables.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}hemensaglik_gha_links.tmpl", PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$header_file", PACKAGE => __PACKAGE__ );
}       
<!-- Template: gha_1.tmpl from dir template_hemensaglik -->
 <!-- Templates called: gha_variables.tmpl, hemensaglik_gha_links.tmpl, {$footer_file}, {$config{variables_template}},  {$header_file} -->
 <!-- ass-top-img section start here-->
<div id="ass-top-img" class="steptxt">
<p class="pad26">{$gha_title}</p>
</div>
<!-- ass-top-img section end here-->

<div id="ass-bg" class="content">
<p class="pad27">
{$lang{$current_language}{gha_intro}}
</p>
</div> 

<!-- risk-top-img section start here-->
<div id="risk-top-img" class="steptxt">

<p class="pad26">{$gha_subtitle}</p>
</div>
<!-- risk-top-img section end here-->

<!-- pagination section start here-->
<div id="pagination" class="content" style="height: 45px">
<p class="pad28">{if ($config{report_print} && $status ne 'retake'){$OUT .= qq|<a href="$review?status=retake&assessment=$assessment&xnum=$db_record&output_format=PDF" class="HSbodytext2" target="_blank"><img src="images/global/print_friendly.gif" border=0></a><img src="images/global/trans.gif" width="8" height="22">|;}'';}{if ($config{report_email}){$OUT .= qq|<a href="$review?status=retake&assessment=$assessment&xnum=$db_record&output_format=PDFE" class="HSbodytext2" target="_blank"><img src="images/global/email_report.gif" border=0></a><img src="images/global/trans.gif" width="8" height="22">|;}'';}{if ($config{report_member} && $status ne 'retake'){$OUT .= qq|<a href=$member><img src="images/global/member_page.gif" border=0></a>|;}'';}<br></p>
</div>
<!-- pagination section end here-->

<p><img src="images/ass_06.jpg" alt="" /></p> 


<div id="risk-bg">
<table width="967" cellspacing="0" style="margin-left: 30px">

  <tr>
  { my $html;
     if($subdomain eq 'hemensaglik'){
                $html = qq| <td style="padding-top: 8px; padding-bottom: 10px; padding-right: 361px;" class="content">|;
			}else{
				$html = qq| <td style="padding-top: 8px; padding-bottom: 10px; padding-right: 70px;" class="content">|;
    }
}
               
{
my $midtext;
$midtext = Text::Template::fill_in_string( $etext, PACKAGE => __PACKAGE__ ) if($edit_preview);
	# this is the standard header for the assessment output.
	if($subdomain eq 'hemensaglik'){
$midtext = Text::Template::fill_in_file( $config{template_directory} .'hemensaglik_gha_cover_letter_html.tmpl', PACKAGE => __PACKAGE__ ) if(!$edit_preview);
}else{
$midtext = Text::Template::fill_in_file( $config{template_directory} .'gha_cover_letter_html.tmpl', PACKAGE => __PACKAGE__ ) if(!$edit_preview);
}
$midtext;
}                </td>
              </tr>
              <tr>
{ my $html;
     if($subdomain eq 'hemensaglik'){
                $html = qq| <td style="padding-top: 8px; padding-bottom: 10px; padding-right: 70px; text-align:center">|;
			}else{
				$html = qq| <td style="padding-top: 8px; padding-bottom: 10px; padding-right: 70px; text-align:right">|;
    }
}			  
<!--<td style="padding-top: 8px; padding-bottom: 10px; padding-right: 70px; text-align:right">-->
{if(!$edit_preview) {qq|<form method="post" action="$pager">
		<input type="image" border=0 name="gha_2.tmpl" value="gha_2.tmpl" src="https://hemensaglik.hra.net/images/hemensaglik_next.png" >
			 $hidden_cgi_fields 
		</form>|;}}</td>
</tr>
              
</table>
</div>
    <!-- Template: gha_1.tmpl End -->
{
# this is the standard footer for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$footer_file", PACKAGE => __PACKAGE__ );
}
