<!-- Template: hemensaglik_fit_cover_letter_html.tmpl -->
<p>{$lang{$current_language}{fit_cover_letter1}}<br>{$bold_on}{$date}{$bold_off}</p>
<br>
<p>{$lang{$current_language}{Dear}	} {$bold_on}{$name}:{$bold_off}</p>
<p>{$lang{$current_language}{fit_cover_letter2}}</p><br>
<p>{$lang{$current_language}{fit_cover_letter3}}</p><br>
<p>{$lang{$current_language}{Read_your_report_carefully}}</p><br>
<p>{$lang{$current_language}{Thank_you}},</p><br><p>{$bold_on}{$client_web_signature}{$bold_off}</p>
<p>&nbsp; </p>
