{
# this part fills in a file that sets language variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}assessment_language.tmpl", PACKAGE => __PACKAGE__ );
}{
# this part fills in a file that sets variables we use later on.
Text::Template::fill_in_file( "$config{template_directory}$config{variables_template}", PACKAGE => __PACKAGE__ );
}{
# this is the standard header for the assessment output.
Text::Template::fill_in_file("$config{template_directory}$home_header_in_file", PACKAGE => __PACKAGE__ );
}      
    <!-------hemensaglik_lost_password.tmpl-------------->
	<div id="ass-top-img" class="steptxt">
		<p class="pad26">{$lang{$current_language}{Password_retrieval}}</p>
	</div>
	<!-- ass-top-img section end here-->
	
	<div id="ass-bg" class="content">
		<p class="pad27">
		{$lost_subtitle_in}
		</p>		
		 <form name="frm1" action="/cgi-bin/hs/register.cgi" method="post">
		 <p class="pad27">
		 <input name="Submit" type="image" {$back} border="0" />
		 <input name="action" type="hidden" value="log" />
		  </p>
		 </form>
		
	</div>
	
	<div id="ass-top-img" class="steptxt">
	<p class="pad26">{$lang{$current_language}{logon_name}}</p>
	</div>
	
	<div id="ass-bg" class="content">
		<p class="pad27">
		{$lang{$current_language}{username_or_email}}<br>
		</p>
	</div>

	<div id="risk-bg">
	<table width="967" cellspacing="0" style="margin-left: 30px">
	<form action="{$register}" method="post">
	
		<tr>
			<td class="lb2" width="200" style="padding-top: 10px; padding-right: 20px">{$lang{$current_language}{User_Name}}:</td>
			<td width=767 style="padding-top: 10px"><input name="db_id" type="text" size="18" /><input name="action" type="hidden" value="lookup" /></td>
		</tr>
		
		<tr>
		  <td class="lb2" width="200" style="padding-top: 10px; padding-right: 20px"></td>
		  <td width="567" style="padding-top: 10px;padding-left: 50px;font-weight: bold;font-size: 14px;font-family: Arial;" >{$lang{$current_language}{or}}</td>
		</tr>
		
		<tr>
			<td class="lb2" width=200 style="padding-top: 10px; padding-right: 20px">{$lang{$current_language}{Email_Address}}:</td>
			<td width=767 style="padding-top: 10px"><input name="db_email" type="text" size="18" /></td>
		</tr>
		
		<tr>
			<td width=200>	</td>
			<td width="767" style="padding-top: 8px; padding-bottom: 10px; padding-right: 362px; text-align:right">
			<input name="Submit" type="image" {$submit} border="0" />
			</td>
			<td>&nbsp;</td>
		</tr>		
		<tr>
			<td width=200>
			</td>
			<td width=767 class="lb2"style="padding-top: 8px; padding-bottom: 10px; padding-right: 362px; text-align:right">
			{$lang{$current_language}{Having_trouble}} {$support_email}
			</td>
			<td>&nbsp;</td>
		</tr>
		
	</form>
	</table>
	</div>

{
# this is the standard footer for the assessment output.
Text::Template::fill_in_file( "$config{template_directory}$footer_file", PACKAGE => __PACKAGE__ );
}
